<div id="signup" class="admin">
	<div class="container page-container">
		<div class="row">
			<div class="form col-md-6 col-md-offset-3">
				<div class="heading">
					<h3>Sign in below. <a href="/signup">Need an account?</a></h3>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>