/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}
#page {
  width: 100%; }
  #page h1 {
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Cardo', serif;
    font-weight: 400;
    color: #333;
    text-transform: uppercase; }
  #page .infographic {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    width: 1000px; }

#navigation {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: absolute;
  top: 2em;
  left: 2em; }
  #navigation a {
    text-decoration: none;
    color: #666;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-right: 2em; }

#eng_header {
  width: 100%; }
  #eng_header img {
    top: 40px;
    right: 0;
    opacity: .05;
    width: 1036px;
    position: absolute; }

.float_title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #666;
  font-size: 1.75em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#topbar {
  position: relative;
  width: 100%;
  height: .8em;
  background: #cacaca;
  margin-left: -1em;
  padding-right: 1em;
  margin-top: -18em;
  box-shadow: 0px 5px 10px #000; }

#botbar {
  position: relative;
  width: 100%;
  height: .8em;
  background: #cacaca;
  margin-left: -1em;
  padding-right: 1em;
  margin-top: 17em;
  box-shadow: 0px -5px 10px #000; }

#code_area {
  padding-top: .5em;
  width: 100%;
  background: #272822;
  height: 17.5em; }
  #code_area .image {
    height: 17em;
    background: url("/assets/sublime_text.png") no-repeat;
    background-size: contain; }

.skills {
  width: 7em;
  float: right;
  padding-top: .75em;
  padding-right: 2em;
  font-size: 2em;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #fafafa;
  text-align: right; }
  .skills .border {
    padding-top: .25em;
    margin-bottom: .25em;
    border-bottom: 1px dotted #595959; }

#concept_row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
  #concept_row .concepts {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px; }
    #concept_row .concepts img {
      display: inline-block;
      width: 48%;
      border: 1px solid #bbb; }
  #concept_row .design {
    display: inline-block;
    vertical-align: top;
    width: 50%; }
    #concept_row .design img {
      border: 1px solid #bbb;
      width: 49%; }
  #concept_row .testing {
    display: inline-block;
    vertical-align: top;
    padding-top: 35px; }
    #concept_row .testing img {
      border: 1px solid #bbb;
      width: 60%; }
  #concept_row .construction {
    display: inline-block;
    vertical-align: top; }
    #concept_row .construction img {
      border: 1px solid #bbb;
      width: 60%; }
  #concept_row .physical_subtitle {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin-left: 2em;
    color: #666;
    text-align: center;
    word-spacing: 5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; }

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

#des_title {
  padding-top: 4em;
  padding-bottom: 5em;
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto; }
  #des_title img {
    width: 400px; }

.d_subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #eee;
  width: 30%;
  font-size: 1.75em;
  padding: .5em 0 .5em 0;
  background: #444; }

.d_left {
  position: absolute;
  left: 0;
  text-align: right;
  padding-right: 2em; }

.d_right {
  position: absolute;
  right: 0;
  text-align: left;
  padding-left: 2em; }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  #content .row {
    width: 100%;
    padding-bottom: 3em;
    margin-bottom: 2em;
    margin-top: 7.5em;
    display: inline-block; }
  #content .description {
    padding-top: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    text-align: center; }
  #content .interface {
    max-width: 50%;
    height: 400px;
    display: inline-block; }
    #content .interface .imgroup {
      text-align: justify; }
      #content .interface .imgroup img {
        display: inline-block;
        width: 45%;
        border: 1px solid #ddd; }
  #content .analytics {
    max-width: 44%;
    border: 1px solid;
    float: right; }
    #content .analytics .google {
      height: 220px;
      background: #aaa; }
  #content .product {
    max-width: 50%;
    float: left; }
    #content .product .imgroup {
      text-align: justify; }
      #content .product .imgroup img {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 30%;
        border: 1px solid #ddd; }
  #content .scorecard {
    max-width: 44%;
    float: right; }
    #content .scorecard .grid {
      vertical-align: top;
      float: right; }
      #content .scorecard .grid .text {
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 300;
        font-size: 1.15em;
        line-height: 1.75em;
        color: #666;
        text-transform: uppercase;
        text-align: right;
        display: inline-block; }
      #content .scorecard .grid #dots {
        margin-left: .5em;
        display: inline-block;
        vertical-align: top; }
        #content .scorecard .grid #dots .circrow {
          padding-top: .5em;
          padding-bottom: .18em; }
          #content .scorecard .grid #dots .circrow .outer {
            width: 12px;
            height: 12px;
            border-radius: 150px;
            margin-right: .25em;
            display: inline-block;
            border: 2px solid #777; }
          #content .scorecard .grid #dots .circrow .inner {
            width: 8px;
            height: 8px;
            border-radius: 60px;
            background: #333;
            margin-top: .125em;
            margin-left: auto;
            margin-right: auto; }
  #content .clear {
    clear: both; }

#des_footer {
  background: url("/assets/design_design.png") repeat-x;
  background-position: bottom;
  height: 330px;
  width: 100%;
  padding-top: 7.5em; }

#biz_header {
  width: 100%;
  height: 252px; }
  #biz_header img {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 10%;
    opacity: .7; }

#biz_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #biz_content .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #666;
    font-size: 1.85em;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em; }
  #biz_content .left {
    max-width: 46%;
    float: left; }
    #biz_content .left .relationships .stars {
      text-align: center;
      width: 15em;
      margin-left: auto;
      margin-right: auto; }
      #biz_content .left .relationships .stars img {
        opacity: .5; }
    #biz_content .left .relationships .heading {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25em;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #888; }
    #biz_content .left .relationships .description {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 1.1em;
      color: #666;
      padding-top: 3em;
      margin-left: auto;
      margin-right: auto; }
      #biz_content .left .relationships .description .intro {
        padding-bottom: .5em;
        font-weight: 400; }
      #biz_content .left .relationships .description .center {
        text-align: center; }
  #biz_content .right {
    max-width: 46%;
    float: right; }
    #biz_content .right .client {
      margin-left: auto;
      margin-right: auto; }
      #biz_content .right .client .description {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        color: #666; }
  #biz_content .scorecard {
    width: 100%;
    text-align: center;
    margin-top: 3.5em;
    color: #666; }
    #biz_content .scorecard .text {
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 300;
      font-size: 1.15em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: right;
      display: inline-block; }
    #biz_content .scorecard #dots {
      margin-left: .5em;
      display: inline-block;
      vertical-align: top; }
      #biz_content .scorecard #dots .circrow {
        padding-top: .5em;
        padding-bottom: .18em; }
        #biz_content .scorecard #dots .circrow .outer {
          width: 12px;
          height: 12px;
          border-radius: 150px;
          margin-right: .25em;
          display: inline-block;
          border: 2px solid #777; }
        #biz_content .scorecard #dots .circrow .inner {
          width: 8px;
          height: 8px;
          border-radius: 60px;
          background: #333;
          margin-top: .125em;
          margin-left: auto;
          margin-right: auto; }
  #biz_content .clear {
    clear: both; }
#download .block {
  margin-left: 25%;
  margin-top: 5%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #444;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s; }
#download .block:hover {
  margin-top: 6%; }
.polyid {
  color: #C800F5;
  background: #C800F5;
  border: 2px solid #C800F5; }

#triangle {
  width: 100%;
  height: 100%; }
  #triangle h1 {
    margin: 0;
    padding: 2em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #666; }
  #triangle #graphic {
    position: absolute;
    width: 700px;
    height: 600px;
    margin-right: 50%;
    right: -350px; }
    #triangle #graphic map {
      display: block;
      z-index: 30; }
      #triangle #graphic map area {
        display: block;
        position: relative;
        z-index: 30; }
      #triangle #graphic map div {
        display: none;
        width: 400px;
        height: 400px;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
      #triangle #graphic map area:hover + div {
        display: block;
        opacity: 1;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
      #triangle #graphic map img {
        position: absolute;
        opacity: .25;
        top: 0;
        left: 100px; }
      #triangle #graphic map .opacity {
        opacity: 1; }
    #triangle #graphic .triangle {
      margin-left: auto;
      margin-right: auto;
      width: 700px;
      height: 700px;
      z-index: 2; }
    #triangle #graphic .hover_image {
      position: absolute;
      -webkit-transition: all .15s;
      -moz-transition: all .15s;
      -ms-transition: all .15s;
      -o-transition: all .15s;
      transition: all .15s;
      z-index: 15; }
    #triangle #graphic .t {
      top: 27px;
      left: 94px; }
    #triangle #graphic .br {
      top: 313px;
      right: 39px; }
    #triangle #graphic .bl {
      top: 314px;
      left: -90px; }
  #triangle .links {
    text-align: center;
    position: absolute;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    top: 90%;
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2em; }
    #triangle .links a {
      text-decoration: none;
      color: #888;
      -webkit-transition: all .15s;
      -moz-transition: all .15s;
      -ms-transition: all .15s;
      -o-transition: all .15s;
      transition: all .15s; }
    #triangle .links a:hover {
      color: #aaa; }
    #triangle .links .divider {
      padding-left: 3.5em;
      padding-right: 3.5em; }

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 44%, #bbbbbb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, #fafafa), color-stop(100%, #bbbbbb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafafa 44%, #bbbbbb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafafa 44%, #bbbbbb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafafa 44%, #bbbbbb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fafafa 44%, #bbbbbb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#bbbbbb',GradientType=0 );
  /* IE6-9 */ }

#starburst {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url("/assets/starburst.png") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .75; }
