<div id="navigation">
	<a href="#">home</a>
	<a href="/documents/BKnouse_resume_January2014">resume</a>
	<a href="#">email</a>
</div>

<div id="page">
	<div id="bg"> </div>

	<h1> DESIGN </h1>

	<div class="d_left d_title">INTERFACE & PRODUCT</div>
	<div class="d_right d_title">KEY VALUES</div>
	<div id="content">
		<div class="interface"> INTERFACE </div>
		<div class="analytics">ANALYTICS</div>
		<div class="product">PRODUCT</div>
		<div class="scorecard">
			<div class="text">
				Photoshop</br>
				Illustrator</br>
				Flash</br>
				Autodesk Inventor</br>
				Autodesk Alias</br>
				DDS Solidworks</br>
				Pro-Engineer</br>
				Rapid Prototyping</br>
			</div>
			<div id="dots">
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"></div>
					<div class="outer"></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"></div>
					<div class="outer"></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"></div>
				</div>
				<div class="circrow">
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
					<div class="outer"><div class="inner"></div></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>