<div id="page">
	<div id="bg"> </div>

	<h1> BUSINESS </h1>

	<div id="biz_content">
		<div class="left">
			<div class="title">CLIENT RELATIONSHIPS</div>
			<div class="relationships">

			</div>


		</div>
		<div class="right">
			<div class="title">MARKETING & BUSINESS GROWTH</div>
			<div class="client">

			</div>
			<div class="scorecard">
				<div class="text">
					DIGITAL MARKETING</br>
					BRANDING & IDENTITY</br>
					RESEARCH & ANALYTICS</br>
					WRITTEN & VERBAL COM</br>
					PRESENTING/PUBLIC SPEAKING</br>
					MICROSOFT OFFICE TOOLS</br>
				</div>
				<div id="dots">
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
</div>