<div id="page">
	<div id="bg"> </div>

	<h1> Engineering </h1>

	<div class="float_title">IN DIGITAL</div>

	<div id="code_area"> 	
		<div id="topbar"> </div>

		<div class="skills">
			HTML<div class="border"> </div>
			.CSS<div class="border"> </div>
			JAVASCRIPT()<div class="border"> </div>
			RUBY  ON  RAILS
		</div>

		<div id="botbar"> </div>
	</div>

	<div class="float_title">AND PHSYICAL</div>
	
	<div id="concept_row">

		<div class="photos"></div>
		<div class="photos"></div>
		<div class="photos"></div>
		<div class="photos"></div>
		<span class="stretch"></span>
	
		<div class="physical_subtitle">
			CONCECPT >> DESIGN >> TESTING >> CONSTRUCTION
		</div>
	</div>
</div>