<div id="navigation">
	<a href="/welcome/index">home<div class="box"></div></a>
	<a href="/i_am_an/engineer">engineering<div class="box"></div></a>
	<a href="/i_am_an/entrepreneur">entrepreneurship<div class="box"></div></a>
	<a class="selected" href="/i_am_a/designer">design<div class="box"></div></a>
</div>

<div id="page">
	<div id="des_title"><img src="/assets/design_header.png" /></div>
	<div class="subtitle_bar"><div class="subtitle">WEB/UX</div></div>
	<div id="web_ux">
		<div id="rooneys">
			<img class="rooneys_imac" src="/assets/imac_rooneys.png" />
			<img class="rooneys_title" src="/assets/design_web_rooneys.png" />
			<div class="rooneys_desc">
				Rooney's Restaurant, a fine dining establishment in Rochester, New York, required an entirely new web presence to attract more customers to its business.  An original, proprietary CMS-driven site was built, optimized for search, and seamlessly connected with updated Facebook, Tripadvisor, and Yelp pages.
			</div>
			<div class="clear"></div>
		</div>
		<div id="rouhana">
			<img class="rouhana_ipad" src="/assets/design_web_ipad.png" />
			<img class="rouhana_title" src="/assets/design_web_rouhana.png" />
			<div class="rouhana_desc">
				Adam Rouhana is a freelance travel photographer based out of Rochester, New York.  Adam needed a web portfolio built from the ground-up.  A fluid, responsive layout with a focus on imagery and simple navigation was designed and engineered to meet the standards demanded by his fantastic artwork.
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">PRODUCTS</div></div>
	<div id="products">
		<div class="container">
			<img class="products" src="/assets/design_products.jpg" />
			<div class="description">
				These products were the feature of my senior photography thesis during undergraduate study.  The project was titled 'Dissection' and showcased each item split open to reveal its inner workings.  For the three products, I chose a watch concept I originated, a Nikon AF-S Nikkor Lens, and a Nest Thermostat.  Each product was individually created in CAD and finished in Photoshop.
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">ENGINEERING</div></div>
	<div id="engineering">
		<img class="engineering_photo" src="/assets/design_engineering.jpg" />
		<div class="eng_desc">
			Great design is a hallmark of great engineering.  The above images were design concepts for my senior mechanical engineering project.  The objective was to design and fabricate a polishing machine for use in the Laboratory for Laser Energetics at the University of Rochester.  This project was unique as the final product would come in contact with nuclear fusion testing equipment, and as such, stringent requirements had to be met for successful completion.
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">DESIGN TOOLBOX</div></div>
	<div id="skillz">
		<div class="container">
			<img src="/assets/design_skills.png" />
		</div>
	</div>
	<div id="border"><div class="line"></div></div>
	<div id="fini">
		<div class="container">
			<img class="fini_img" src="/assets/fini.png" />
				<a href="javascript:void(0)" class="backtotop"><img class="fini_button" src="/assets/chairlift.png" /></a>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery('.backtotop').click(function(){
		jQuery('html, body').animate({scrollTop:0}, 'slow');
	});
</script>