<div id="navigation">
	<a href="/welcome/index">home</a>
	<a href="/documents/resume">resume</a>
	<a href="mailto:bryan.knouse@gmail.com">email</a>
</div>

<div id="page">
	<img class="infographic" src="/assets/design_infographic.jpg" />
</div>