<div id="navigation">
	<a href="/welcome/index">home<div class="box"></div></a>
	<a href="/documents/resume">resume<div class="box"></div></a>
	<a href="mailto:bryan.knouse@gmail.com">email<div class="box"></div></a>
</div>

<div id="page">
	<div id="des_title"><img src="/assets/design_header.png" /></div>
	<div class="subtitle_bar"><div class="subtitle">WEB/UX</div></div>
	<div id="web_ux">
		<div id="rooneys">
			<img class="rooneys_title" src="/assets/design_web_rooneys.png" /><div class="clear"></div>
			<div class="rooneys_desc">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</div><div class="clear"></div>
		</div>
		<div id="rouhana">
			<img class="rouhana_ipad" src="/assets/design_web_ipad.png" />
			<img class="rouhana_title" src="/assets/design_web_rouhana.png" />
			<div class="rouhana_desc">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">PRODUCTS</div></div>
	<div id="products">
		<div class="container">
			<img class="products" src="/assets/design_products.jpg" />
			<div class="description">
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">ENGINEERING</div></div>
	<div id="engineering">
		<img class="engineering_photo" src="/assets/design_engineering.jpg" />
		<div class="eng_desc">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">DATA-DRIVEN</div></div>
	<div id="data">
		<div class="container">
			<div class="strokes"> <img src="/assets/design_data_section.jpg" /></div>
			

		</div>
	</div>
	<div id="skillz">
		<div class="container">
			<div class="title">DESIGN TOOLBOX</div>
			<img src="/assets/design_skills.png" />

		</div>
	</div>
	<div id="border"><div class="line"></div></div>
	<div id="fini">
		<div class="container">
		<img src="/assets/fini.png" />
		</div>
	</div>
</div>