<div id="navigation">
	<a href="/welcome/index">home</a>
	<a href="/documents/resume">resume</a>
	<a href="mailto:bryan.knouse@gmail.com">email</a>
</div>

<div id="page">
	<div id="bg"> </div>

	<div id="des_title"><img src="/assets/design_title.png" /></div>

	<div class="clear"></div>

	<div class="d_left d_subtitle">INTERFACES</div>
	<div class="d_right d_subtitle">KEY VALUES</div>
	
	<div id="content">
		<div class="row">
			<div class="interface">
				<div class="imgroup">
					<img src="/assets/design_rooneys.jpg" />
					<img src="/assets/design_veneto_title.jpg" />
					<span class="stretch"></span>
				</div>
				<div class="description">
					These are two user interface projects made for small businesses located in Rochester, NY.  The purpose of the assignment was to construct a restaurant website with an updated look, expanded functionality, and a proprietary CMS for the business owners to keep their web identity updated.
				</div>
			</div>
			<div class="analytics">
				<div class="google">Analytics pic</div>
				<div class="description">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</div>
			</div>
		</div>
		<div class="d_left d_subtitle">PRODUCTS</div>
		<div class="d_right d_subtitle">SKILL SET</div>
		<div class="row">
			<div class="product">
				<div class="imgroup">
					<img src="/assets/design_lens.jpg" />
					<img src="/assets/design_thermo.jpg" />
					<img src="/assets/design_watch.jpg" />
					<span class="stretch"></span>
				</div>
				<div class="description">
					These are two user interface projects made for small businesses located in Rochester, NY.  The purpose of the assignment was to construct a restaurant website with an updated look, expanded functionality, and a proprietary CMS for the business owners to keep their web identity updated.
				</div>
			</div>		
			<div class="scorecard">
				<div class="grid">
					<div class="text">
						Photoshop</br>
						Illustrator</br>
						Flash</br>
						Autodesk Inventor</br>
						Autodesk Alias</br>
						DDS Solidworks</br>
						Pro-Engineer</br>
						Rapid Prototyping</br>
					</div>
					<div id="dots">
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"></div>
							<div class="outer"></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"></div>
							<div class="outer"></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"></div>
						</div>
						<div class="circrow">
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
							<div class="outer"><div class="inner"></div></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="description">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</div>
			</div>
		</div>
	</div> 
	<div id="des_footer"></div>
</div>