<div class="header-wrap" data-spy="affix" data-offset-top="1">
	<div id="top-navi">
		<div class="navi-information">
			<a class="name-link" href="/welcome/index">
				<h1 class="bold">Bryan Knouse/</h1>
			</a>
			<h1>DESIGN</h1>
		</div>
		<div class="desktop-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i>engineering<div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i>entrepreneurship<div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i>design<div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i>resume</a>
<!-- 			<a href="mailto:bryan.knouse@gmail.com">email</a>
			<a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a>
			<a href="https://github.com/knouse1344" target="_blank">github</a> -->
		</div>

		<div class="mobile-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i><div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i><div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i><div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i></a>
		</div>		
	</div>
</div>

<div id="page">
	<div id="des_title"><img src="/assets/design_header.png" /></div>
	<div class="subtitle_bar"><div class="subtitle">WEB/UX</div></div>
	<div id="web_ux">
		<div id="rooneys">
			<img class="rooneys_imac" src="/assets/imac_rooneys.png" />
			<img class="rooneys_title" src="/assets/design_web_rooneys.png" />
			<div class="rooneys_desc">
				Rooney's Restaurant, a fine dining establishment in Rochester, New York, required an entirely new web presence to attract more customers to its business.  An original, proprietary CMS-driven site was built, optimized for search, and seamlessly connected with updated Facebook, Tripadvisor, and Yelp pages.
			</div>
			<div class="clear"></div>
		</div>
		<div id="rouhana">
			<img class="rouhana_ipad" src="/assets/design_web_ipad.png" />
			<img class="rouhana_title" src="/assets/design_web_rouhana.png" />
			<div class="rouhana_desc">
				Adam Rouhana is a freelance travel photographer based out of Rochester, New York.  Adam needed a web portfolio built from the ground-up.  A fluid, responsive layout with a focus on imagery and simple navigation was designed and engineered to meet the standards demanded by his fantastic artwork.
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">PRODUCTS</div></div>
	<div id="products">
		<div class="container">
			<img class="products" src="/assets/design_products.jpg" />
			<div class="description">
				These products were a senior photography thesis feature during undergraduate study.  The project was titled 'Dissection' and showcased each item split open to reveal its inner workings.  For the three products I chose a watch concept I originated, a Nikon AF-S Nikkor Lens, and a Nest Thermostat.  Each product was individually created in CAD and finished in Photoshop.
			</div>
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">ENGINEERING</div></div>
	<div id="engineering">
		<img class="engineering_photo" src="/assets/design_eng_photos.jpg" />
		<div class="eng_desc">
			These images were concepts for the University of Rochester's senior mechanical engineering project.  The objective was to design and fabricate a polishing machine for use in the Laboratory for Laser Energetics at UR.  This project was unique as the final product would come in contact with nuclear fusion testing equipment.
		</div>
	</div>
	<div class="subtitle_bar"><div class="subtitle">ANALYTICALLY FOCUSED</div></div>
	<div id="data">
		<img class="data_image" src="/assets/data_driven.jpg" />
			<div class="design_circle one"> </div>
			<div class="design_circle two"> </div>
			<div class="design_circle three"> </div>
			<div class="design_circle four"> </div>
			<div class="design_circle five"> </div>
			<div class="design_circle six"> </div>
			<div class="clear"> </div>
		<div class="data_desc">
			The above graphic is a real-time representation of Google Analytics data for one of my client sites, drawing not only a wide range of U.S. viewers, but an international audience, too. The graphic displays viewer origin as well as behavior flow throughout the first several stages of interaction.  Today, customer data has secured a more crucial role in engineering and technological development than ever before.  As a result, I construct web products with numerical advantage at my side.  
		</div>
	</div>
	<div class="subtitle_bar toolbox_waypoint"><div class="subtitle">DESIGN TOOLBOX</div></div>
	<div id="skillz">
		<div class="container">
			<img class="toolbox_image" src="/assets/design_skills.png" />
			<div class="clear"> </div>
		</div>
	</div>
	<div id="border"><div class="line"></div></div>
	<div id="fini">
		<div class="container">
			<img class="fini_img" src="/assets/fini.png" /></br>
			<a href="javascript:void(0)" class="backtotop"><img class="fini_button" src="/assets/chairlift.png" /></a>
		</div>
	</div>
</div>

<script type="text/javascript">


jQuery(function($) {
	$('.backtotop').click(function(){
		$('html, body').animate({scrollTop:0}, 'slow');
	});

	$('.design_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(2000, function() {
	        $(this).fadeIn(1000, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.design_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 666);
	});

	$('.toolbox_waypoint').waypoint(function() {
	  $('.toolbox_image').css("left", "-15%");
	});
});
</script>