<div class="header-wrap" data-spy="affix" data-offset-top="1">
	<div id="top-navi">
		<div class="navi-information">
			<a class="name-link" href="/welcome/index">
				<h1 class="bold">Bryan Knouse/</h1>
			</a>
			<h1>ENGINEERING</h1>
		</div>
		<div class="desktop-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i>engineering<div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i>entrepreneurship<div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i>design<div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i>resume</a>
<!-- 			<a href="mailto:bryan.knouse@gmail.com">email</a>
			<a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a>
			<a href="https://github.com/knouse1344" target="_blank">github</a> -->
		</div>

		<div class="mobile-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i><div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i><div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i><div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i></a>
		</div>		
	</div>
</div>

<div id="page">
	<div id="bg"></div>

	<div id="eng_header">
		<img src="/assets/eng_equations.png" />
	</div>
	
	<div id="topbar"></div>
	<div id="code_area">
		<div id="numbers"></div>

			<div id="concept_row">
				<div class="digital">
					<div class="digi">
						<h1> DIGITAL </h1>
						<p class="eng_digital">
							Programming is beautiful.  </br></br>I enjoy creating digital content as a hobby and profession, and attack complex challenges with optimism.  I frequent Hacker News, StackOverflow is my coding appendix, I use <a href="https://github.com/knouse1344" target="_blank">github</a> and heroku, and peruse Google Analytics reports with breakfast.</br></br><b>TOOLS: HTML, CSS, Javascript, Jquery, Ruby on Rails, Sublime Text, Git</b>
						</p>
					</div>
					<img class="codies" src="/assets/codies.png" /> 					
				</div>
				<div class="concepts">
					<div class="description">
					<h1> PRODUCT IDEATION </h1>
						<p>
							After carefully considering problems and needs, concepts may be generated to begin the product design process.  Digital and/or physical prototypes aid in presenting general solutions to the initial design constraints.  Often, these prototypes are created in CAD software to give the designers and engineers a vivid look at their product before any significant time or financial investment is made.</br></br>The featured concept design is an original from my undergraduate senior design in mechanical engineering.</br></br><b>TOOLS: DDS Solidworks, Autodesk Alias</b>
						</p>
					</div>
					<img class="concepts_one" src="/assets/eng_ideation.jpg" />				
				</div>
				<div class="design">
					<div class="description">
						<h1> PRODUCT DESIGN </h1>
						<p>
							Once a product direction is chosen, the design process is extrapolated to individual components that make up the final design.  This includes 3D renderings of the product and parts, as well as 2D drawings that will then be used during the manufacturing phase of the project.</br></br>This particular project began with a simple design constraint: polish a copper seal.  The image is an exploded view of the polishing apparatus.</br></br><b>TOOLS: DDS Solidworks, Autodesk Inventor</b>
						</p>
					</div>
					<img class="design_one" src="/assets/eng_design.jpg" />
				</div>
				<div class="testing">				
					<div class="description">
						<h1> ANALYTICS & TESTING </h1>
						<p>
							It is rare and irresponsible to construct a product with no considerations for the stresses that the final product will endure.  These stresses may come from a nearly infinite list of sources - temperature variations, applied forces, fatigue, friction, etc.  Often, finite element analysis (FEA) is used to obtain quantitative and visual data resulting from input stresses and strains.</br></br>The accompanying image is a visual representation of stress direction for an Aluminum block analyzed using FEA.</br></br><b>TOOLS: MSC Nastran, MSC Patran</b>
						</p>
					</div>
					<img src="/assets/eng_analytics.jpg" />
				</div>
				<div class="construction">
					<div class="description">
						<h1> MANUFACTURING </h1>
						<p>
							There are many ways to bring a product from design to fruition.  3D printers are optimized for speed and flexibility, but are often limited in materials. </br></br>The product shown was manufactured from solid blocks of aluminum utilizing hand tools as well as complex digital machinery.
							</br></br><b>TOOLS: Bridgeport Mills, Lathe, Drill Press, CNC Mill</b>
						</p>
					</div>
					<img src="/assets/eng_manufacturing.jpg" />
				</div>
			</div>
		</div>
	<div id="botbar" style="box-shadow: 0px -8px 10px #000;"> </div>
	<div id="nav_btns">
		<div class="prev_btn"><</div>
		<div class="next_btn">></div>
	</div>
</div>

<script>

	var $number = 0;

	// $(".eng_digital").typewriter();

	$( ".next_btn" ).click(function() {
		if($number < 4) {
		  $( ".digital" ).animate({
		    left: "-=100%"
		  }, 1200 );
		  $( ".concepts" ).animate({
		    left: "-=100%"
		  }, 1200 );
		  $(".design").animate({
		  	left: "-=100%"
		  }, 1200 );
		  $(".testing").animate({
		  	left: "-=100%"
		  }, 1200 );
		  $(".construction").animate({
		  	left: "-=100%"
		  }, 1200 );
		  $number += 1;
		} else {
		};
		if($number == 4) {
			$('.next_btn').css('opacity', '0');
			$('.next_btn').css('cursor', 'auto');
		}
		if($number == 1) {
			$('.prev_btn').css('opacity', '1');
			$('.prev_btn').css('cursor', 'pointer');
		}
	});

	$( ".prev_btn" ).click(function() {
		if($number > 0) {
		  $( ".digital" ).animate({
		    left: "+=100%"
		  }, 1200 );
		  $( ".concepts" ).animate({
		    left: "+=100%"
		  }, 1200 );
		  $(".design").animate({
		  	left: "+=100%"
		  }, 1200 );
		  $(".testing").animate({
		  	left: "+=100%"
		  }, 1200 );
		  $(".construction").animate({
		  	left: "+=100%"
		  }, 1200 );
		  $number -= 1;
		} else {
		};
		if($number == 3) {
			$('.next_btn').css('opacity', '1');
			$('.next_btn').css('cursor', 'pointer');
		};
		if($number == 0) {
			$('.prev_btn').css('opacity', '0');
			$('.prev_btn').css('cursor', 'auto');
		}
	});


	(function($){
	    $(window).load(function(){
	        $(".description").mCustomScrollbar({
	        	theme:"inset-2"
	        });
	        $(".digi").mCustomScrollbar({
	        	theme:"inset-2"
	        });
	    });
	})(jQuery);

</script>