<div id="navigation">
	<a href="/welcome/index">home<div class="box"></div></a>
	<a href="/welcome/engineering">engineering<div class="box"></div></a>
	<a class="selected" href="/welcome/entrepreneurship">entrepreneurship<div class="box"></div></a>
	<a href="/welcome/design">design<div class="box"></div></a>
</div>

<div id="page">
	<div id="bg"> </div>
	<div id="header_circles">
		<div class="biz_circle one"> </div>
		<div class="biz2_circle two"> </div>
		<div class="biz3_circle three"> </div>
		<div class="biz2_circle four"> </div>
		<div class="biz3_circle five"> </div>
		<div class="biz2_circle six"> </div>
		<div class="biz3_circle seven"> </div>
		<div class="biz_circle eight"> </div>
		<div class="biz2_circle nine"> </div>
		<div class="biz3_circle ten"> </div>
		<div class="ent_image"> </div>
		<div id="biz_header"><h1>ENTREPRENEURSHIP</h1></div>
	</div>

	<div id="biz_content">
		<div class="title">CLIENT RELATIONSHIPS</div>
		<div class="relationships">
			<div class="star_box">
				<div class="star_img st_one"></div>
				<div class="star_img st_two"></div>
				<div class="star_img st_three"></div>
				<div class="star_img st_four"></div>
				<div class="star_img st_five"></div>
			</div>
			<h3>ELANCE FIVE STAR RATING</h3>

			<div class="description">
				<div class="intro">Feedback from 3/27/14/2014:</div>
				<span style="font-style: italic;">“Bryan was terrific. I would definitely use him again. Super professional and fantastic communication.”</br>
				<div class="center">- Sean Little, VP of Marketing, FirstJob</div></span>
			</div>
			<div class="description">
				<div class="intro">Feedback from 2/28/2014:</div>
				<span style="font-style: italic;">“Fast, Reliable, Creative...Responsive. I will continue using Bryan and suggest him to any friend and colleague in search of a good designer and visionary.”</br>
				<div class="center">- George Gutierrez, Solar USA</div></span>
			</div>
			<div class="description">
				<div class="intro">Feedback from 1/15/2014:</div>
				<span style="font-style: italic;">“Bryan was very professional, and I appreciated his open communication throughout the course of the project. He was very receptive to feedback, and using my vague guidelines was able to create a very cool concept and execute it perfectly. I'll definitely be hiring him again!”</br>
				<div class="center">- CIRadar, Competitive Intelligence</div></span>
			</div>
			<div class="description desc2">
				<div class="intro">Feedback from 1/12/2014:</div>
				<span style="font-style: italic;">Bryan did an excellent job. He was flexible, understood what I needed and delivered extremely good results. I'd recommend him to anyone.”</br>
				<div class="center">- Byrne Entertainment</div></span>
			</div>
			<div class="description">
				<div class="intro">Feedback from 1/7/2014:</div>
				<span style="font-style: italic;">“Very high quality work done in a very short period of time.  I look forward to finding another opportunity to work together.”</br>
				<div class="center">- Sean Jacobsohn, Emergence Capital Partners</div></span>
			</div>			
		</div>
		<div class="title">GROWTH</div>
		<div id="responsive_growth">
			<div class="description">
				<h3> Responsive Technology </h3>
				<div class="graph_desc">
					I began building web products for restaurants in Rochester, NY, while an undergraduate at the University of Rochester.</br></br>Within a year of graduation, my client network grew from Upstate New York to Philadelphia, Boston, Baltimore, and New York City across a growing range of business domains.
				</div>
				<div class="earnings_graph_axes">
					<div class="earnings_outer">
						<div class="earnings_data"></div>						
					</div>
					<div class="earnings_xlabel">
						Time
					</div>
					<div class="earnings_ylabel">
						Earnings
					</div>
				</div>				
				<div class="clear"></div>

			</div>
		</div>
		<div id="bfgrowth">
			<div class="description">
				<h3> SPORTS ON THE BRAIN BY BLUEFIELDS </h3>
				<div class="graph_desc">
					During the summer of 2012 I was fortunate to join Bluefields, a 500 Startups portfolio company as a web development intern.<br><br>I was tasked to bring their online fan portal, Sports on the Brain, up to speed with the rest of their service organizing recreational sports across the globe.<br><br>The graph to the right identifies SOTB growth after my full redesign.
				</div>
				<div class="growth_graph">
					<div class="placeholder"> </div>
					<div class="bar bar_one"><span class="count_style style0">+</span><span class="counter counter0 count_style" data-direction="up" data-interval="5" data-format="99" data-stop="66">0</span><span class="count_style style0">%</span></div>
					<div class="bar bar_two"><span class="count_style style1">+</span><span class="counter counter1" data-direction="up" data-interval="5" data-format="99" data-stop="57">0</span><span class="count_style style1">%</span></div>
					<div class="bar bar_three"><span class="count_style style2">+</span><span class="counter counter2" data-direction="up" data-interval="15" data-format="99" data-stop="40">0</span><span class="count_style style2">%</span></div>
					<div class="xlabel rotate">Viewership</div><div class="xlabel rotate">Uniques</div><div class="xlabel rotate">Visit</br>Duration</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
	$('.biz_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(3000, function() {
	        $(this).fadeIn(2000, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 666);
	});

	$('.biz2_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(4400, function() {
	        $(this).fadeIn(3000, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz2_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 456);
	});

	$('.biz3_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(3900, function() {
	        $(this).fadeIn(2700, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz3_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 800);
	});	

	$('.desc2').waypoint(function() {
	    setTimeout(function(){
			$('.earnings_outer').animate({
				width: "+=100%"
			}, 1400);	
		}, 500);

		setTimeout(function(){
			$('.bar_one').animate({
				height: "+=66%"
			}, 1000);	
			$('.counter0').animate({
				opacity: "1"
			}, 500);
			$('.style0').animate({
				opacity: "1"
			}, 500);
			setTimeout(function(){
				$('.counter0').counter({});
			}, 300);
		}, 2000);

		setTimeout(function(){
			$('.bar_two').animate({
				height: "+=57%"
			}, 1000);
			$('.counter1').animate({
				opacity: "1"
			}, 500);
			$('.style1').animate({
				opacity: "1"
			}, 500);
			setTimeout(function(){
				$('.counter1').counter({});
			}, 300);
		}, 2700);

		setTimeout(function(){
			$('.bar_three').animate({
				height: "+=40%"
			}, 1000);
			$('.counter2').animate({
				opacity: "1"
			}, 500);
			$('.style2').animate({
				opacity: "1"
			}, 500);
			setTimeout(function(){
				$('.counter2').counter({});	
			}, 300);			
		},3400);
	},
	{
		triggerOnce: true
	});


	$(document).ready(function () {
		$('.st_one').delay(500).animate({
			opacity: "1"
		}, 500);
		$('.st_two').delay(700).animate({
			opacity: "1"
		}, 500);
		$('.st_three').delay(900).animate({
			opacity: "1"
		}, 500);	
		$('.st_four').delay(1100).animate({
			opacity: "1"
		}, 500);
		$('.st_five').delay(1300).animate({
			opacity: "1"
		}, 500);
	});
</script>