<script type="text/javascript">
    $(function() {
        $('.triangle').maphilight();
    });
</script>

<div id="triangle">
	<div id="bg"> </div>
	<div id="starburst"></div>

	<h1>Nest should hire Bryan Knouse because:</h1>

	<div id="graphic">
		<img class="triangle" alt="triangle" usemap="#map" src="/assets/triangle.png" />
		<map name="map">
		    <area href="/i_am_an/engineer" shape="poly" class="tophover" coords="358,28,519,308,360,400,196,307" alt="Link" title="Top Triangle">
		    <area href="/i_am_a/designer" shape="poly" coords="192,315,354,410,354,614,18,614" alt="Link" title="Default behavior">
		    <area href="/i_am_an/entrepreneur" shape="poly" coords="363,409,522,316,695,614,363,614" alt="Link" title="Default behavior">
		</map>
	</div>

	<div class="links">
		<a href="#">resume</a><span class="divider">|</span><a href="#">email</a>
	</div>

</div>
