<div class="header-wrap" data-spy="affix" data-offset-top="1">
	<div id="top-navi">
		<a class="name-link" href="/welcome/index">
			<h1 class="bold">Bryan Knouse</h1>
		</a>
		<h1>/</h1>
		<div class="links">
			<a href="/welcome/engineering">engineering<div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship">entrepreneurship<div class="box"></div></a>
			<a href="/welcome/design">design<div class="box"></div></a>
			<a href="/documents/resume">resume</a>
<!-- 			<a href="mailto:bryan.knouse@gmail.com">email</a>
			<a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a>
			<a href="https://github.com/knouse1344" target="_blank">github</a> -->
		</div>
	</div>
</div>

<div id="triangle_page">
	<div id="bg"> </div>

	<div id="graphic">
		<img id="triangle" alt="triangle" usemap="#triangle" src="/assets/triangle.png" />
		<map name="triangle">
		    <area id="tri_top" data-key="top" href="/welcome/engineering" shape="poly" coords="510,286,349,7,188,287,351,380" alt="Link">
		    
		    <area id="tri_left" href="/welcome/design" data-key="left" shape="poly" coords="350,590,350,382,184,285,13,587" alt="Link">

		    <area id="tri_right" href="/welcome/entrepreneurship" data-key="right" shape="poly" coords="513,290,352,382,352,591,686,591" alt="Link">
		</map>
	</div>
</div>

<script>
$(document).ready(function ()
{
	$('#triangle').mapster({
	singleSelect : true,
	clickNavigate : true,
	render_highlight : { altImage : '/assets/triangle_hover.png' },
    mapKey: 'data-key'
});
});
</script>