<div id="triangle_page">
	<div id="bg"> </div>
	<div id="starburst"></div>

	<h1>Nest should hire Bryan Knouse because:</h1>
	
	<div id="graphic">
		<img id="triangle" alt="triangle" usemap="#triangle" src="/assets/triangle.png" />
		<map name="triangle">
		    <area id="tri_top" data-key="top" href="/i_am_an/engineer" shape="poly" coords="358,28,519,308,360,400,196,307" alt="Link" title="Engineering">
		    
		    <area href="/i_am_a/designer" data-key="left" shape="poly" coords="192,315,354,410,354,614,18,614" alt="Link" title="Design">

		    <area href="/i_am_an/entrepreneur" shape="poly" coords="363,409,522,316,695,614,363,614" alt="Link" title="Entrepreneurship">
		</map>
	</div>

	<div class="links">
		<a href="/documents/resume">resume</a><span class="divider">|</span><a href="mailto:bryan.knouse@gmail.com">email</a><span class="divider">|</span><a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a><span class="divider">|</span><a href="https://github.com/knouse1344" target="_blank">github</a>
	</div>
</div>

<script>
$(document).ready(function ()
{
	$('#triangle').mapster({
	singleSelect : true,
	clickNavigate : true,
	render_highlight : { altImage : '/assets/triangle_hover.png' },
    mapKey: 'data-key'
});
});
</script>