<div id="triangle_page">
	<div id="bg"> </div>
	<div id="starburst"></div>

	<h1>Bryan Knouse</h1>
	
	<div id="graphic">
		<img id="triangle" alt="triangle" usemap="#triangle" src="/assets/triangle.png" />
		<map name="triangle">
		    <area id="tri_top" data-key="top" href="/i_am_an/engineer" shape="poly" coords="510,286,349,7,188,287,351,380" alt="Link" title="Engineering">
		    
		    <area href="/i_am_a/designer" data-key="left" shape="poly" coords="350,590,350,382,184,285,13,587" alt="Link" title="Design">

		    <area href="/i_am_an/entrepreneur" data-key="right" shape="poly" coords="513,290,352,382,352,591,686,591" alt="Link" title="Entrepreneurship">
		</map>
	</div>

	<div class="links">
		<a href="/documents/resume">resume</a><span class="divider">|</span><a href="mailto:bryan.knouse@gmail.com">email</a><span class="divider">|</span><a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a><span class="divider">|</span><a href="https://github.com/knouse1344" target="_blank">github</a>
	</div>
</div>

<script>
$(document).ready(function ()
{
	$('#triangle').mapster({
	singleSelect : true,
	clickNavigate : true,
	render_highlight : { altImage : '/assets/triangle_hover.png' },
    mapKey: 'data-key'
});
});
</script>