<div id="triangle_page">
	<div id="bg"> </div>

	<h1>Bryan Knouse</h1>
	
	<div id="graphic">
		<img id="triangle" alt="triangle" usemap="#triangle" src="/assets/triangle.png" />
		<map name="triangle">
		    <area id="tri_top" data-key="top" href="/welcome/engineering" shape="poly" coords="510,286,349,7,188,287,351,380" alt="Link">
		    
		    <area id="tri_left" href="/welcome/design" data-key="left" shape="poly" coords="350,590,350,382,184,285,13,587" alt="Link">

		    <area id="tri_right" href="/welcome/entrepreneurship" data-key="right" shape="poly" coords="513,290,352,382,352,591,686,591" alt="Link">
		</map>
	</div>
</div>

<script>
$(document).ready(function () {
	
	$('#triangle').mapster({
		singleSelect : true,
		clickNavigate : true,
		render_highlight : { altImage : '/assets/triangle_hover.png' },
	    mapKey: 'data-key'
	});

	$('#tri_top').hover(function() {
		$('.engineering-title').css('opacity', '1');
	}, function () {
		$('.engineering-title').css('opacity', '0');
	});

	$('#tri_right').hover(function() {
		$('.entrepreneurship-title').css('opacity', '1');
	}, function () {
		$('.entrepreneurship-title').css('opacity', '0');
	});

	$('#tri_left').hover(function() {
		$('.design-title').css('opacity', '1');
	}, function () {
		$('.design-title').css('opacity', '0');
	});
});
</script>