<div id="triangle">
	<div id="bg"> </div>

	<h1>Nest should hire Bryan Knouse because:</h1>

	<div id="graphic"><!-- Triangle Graphic --></div>

	<div class="links">
		<a href="#">resume</a><span class="divider">|</span><a href="#">email</a>
	</div>

</div>