<div id="triangle">
	<div id="bg"> </div>

	<h1>Nest should hire Bryan Knouse because:</h1>

	<div id="graphic">
		<div class="top">
			<a href="/because/iamanengineer"><div id="tritop"><img class="top_hover" src="/assets/tri_top_hover.png" /></div></a>
		</div>
		<div class="bottom">
			<a href="/because/iamadesigner"><div id="trileft"><img class="left_hover" src="/assets/tri_left_hover.png" /></div></a>
			<a href="/because/iamabusinessman"><div id="triright"><img class="right_hover" src="/assets/tri_right_hover.png" /></div></a>
		</div>

	</div>

	<div class="links">
		<a href="#">resume</a><span class="divider">|</span><a href="#">email</a>
	</div>

</div>