<div id="resume">
	<div class="block"> </div>
	<div id="header"> 	
		<div id="logo">
			<div class="circle"></div>
			<h1> Bryan Knouse </h1>

			<ul>
				<li>484.347.2216</li>&bull;
				<li><a href="mailto:bryan.knouse@gmail.com"> bryan.knouse@gmail.com </a></li>&bull;
				<li><a href="http://www.knou.se">knou.se</a></li>
			</ul>
		</div>

	</div>
	<div id="target"> 
		<p> 
			I am a critical thinker with a passion for product and visual design. I want to work with an inspired, creative team
			dedicated to developing unique products. I enjoy creating in CAD/Design software, coding in Ruby on Rails, and
			following emerging technology startups. 
		</p>
	</div>
	<div class="icon target"> </div>
	<div class="clear"> </div>
	<div id="reads"> 
		<h1> Recent Reads </h1>
		<p> 
			'Che', Jon Lee Anderson; 'The Big Short', Michael Lewis; 'The 4-Hour Workweek', Timothy Ferriss; 'Eleven Rings', Phil Jackson; 'Outliers', Malcolm Gladwell; 'Steve Jobs', Walter Isaacson.
		</p>
	</div>
	<div class="icon reads"> </div>
	<div class="clear"> </div>
	<div id="work"> 
		<h1> Responsive Technology Freelance Web Design & Development <span class="date"> Present </span></h1><div class="clear"> </div>
		<p>
			Responsive is a full service web development and marketing consultancy aimed at businesses looking to expand web
			presence, local advertising, and social media influence. I manage full-stack web development, graphic design,
			implementation, and marketing for each client. Responsive has elevated the food service industry, social media
			platforms, business intelligence firms, and local contractors to brand standards of 2014.
		</p>
		<h1> The Liveboard, Rochester, NY <span class="date"> 2011 - 2013 </span></h1><div class="clear"> </div>
		<p> 
			The Liveboard is an online service to post and share events on a college campus. It was built to solve problems
			regarding overuse of fliers around campus to advertise events and groups. As the lead interface designer, I
			generated, coded, and implemented the look and feel of the site in a Ruby on Rails and Backbone.js application.
		</p>
		<h1> 500 Startups, Bluefields, Mountain View, CA <span class="date"> May-August 2012 </span></h1><div class="clear"> </div>
		<p>
			Web design and development intern for Bluefields, a 500 Startups portfolio company in Mountain View, CA. Developed
			a marketing campaign through visual advertisement and social media conversion. Created and implemented a full re-
			design of BF's backyard sports blog "Sports on the Brain" resulting in web traffic growth over 60%.
		</p>
	</div>
	<div class="icon work"> </div>
	<div class="clear"> </div>
	<div id="education"> 
		<h1> University of Rochester, Rochester NY <span class="date"> Class 2013 </span></h1><div class="clear"> </div>
		<p>
			B.S. Mechanical Engineering; Economics Cluster
		</p>
		<h1> Selected Study: Heat & Mass Transfer Final Project </h1>
		<p>
			Designed a space vehicle that satisfied several different livable conditions. Given a certain amount of heat generation
			in the cockpit, a foil-based insulation was developed that only permits radiation heat transfer in space; there is no
			conduction or convection. The analysis determined how long it will take to break the safe cockpit temperature range
			if heating is lost.
		</p> 
	</div>
	<div class="icon education"> </div>
	<div class="clear"> </div>
	<div class="bottom">
		<div class="icon resume_skills"> </div>
		<div id="resume_skills"> 
			<h1> Applied Skills </h1>
			<ul style="padding-right: 3em;">
				<li> Adobe Creative Suite </li>
				<li> CAD/ID Software </li>
				<li> HTML, CSS, Javascript </li>
				<li> Ruby on Rails </li>
			</ul>
			<ul>
				<li> Microsoft Office </li>
				<li> Soccer Mid/Fwd </li>
			</ul>
		</div>
		<div class="icon awards"> </div>
		<div id="awards"> 
			<h1> Awards & Leadership </h1>
			<ul>
				<li> UR Varsity Soccer 2009-2012
				<li> UR Baja Alabama, 2012 </li>
				<li> Dwight D. Eisenhower Leadership Award, 2008 </li>
				<li> PHS Varsity Soccer Captain, 2008 </li>
				<li> Parkland Morning News Director, 2007-2009 </li>
			</ul>
		</div>
		<div class="stretch"> </div>
	</div>
</div>