<div class="header-wrap" data-spy="affix" data-offset-top="1">
	<div id="top-navi">
		<div class="navi-information">
			<a class="name-link" href="/welcome/index">
				<h1 class="bold">Bryan Knouse/</h1>
			</a>
			<h1>RESUME</h1>
		</div>
		<div class="desktop-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i>engineering<div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i>entrepreneurship<div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i>design<div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i>resume</a>
<!-- 			<a href="mailto:bryan.knouse@gmail.com">email</a>
			<a href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="_blank">linkedin</a>
			<a href="https://github.com/knouse1344" target="_blank">github</a> -->
		</div>

		<div class="mobile-links">
			<a href="/welcome/engineering"><i class="fa fa-cogs"></i><div class="box"></div></a>
			<a class="selected" href="/welcome/entrepreneurship"><i class="fa fa-share-alt"></i><div class="box"></div></a>
			<a href="/welcome/design"><i class="fa fa-cubes"></i><div class="box"></div></a>
			<a href="/documents/resume"><i class="fa fa-file-text"></i></a>
		</div>		
	</div>
</div>
<div id="resume">
	<div id="header"> 	
		<div id="logo">
			<div class="circle"></div>
			<h1> Bryan Knouse </h1>

			<ul>
				<li>484.347.2216</li>&bull;
				<li><a href="mailto:bryan.knouse@gmail.com"> bryan.knouse@gmail.com </a></li>&bull;
				<li><a target="_blank" href="http://www.knou.se">knou.se</a></li>
			</ul>
		</div>

	</div>
	<div id="target"> 
		<p> 
			I am an individual with a passion for bringing ideas to fruition. I want to work with an inspired, creative team dedicated to developing unique products. I enjoy great design, programming, following technology, international soccer, and good beer.
		</p>
	</div>
	<div class="icon target"> </div>
	<div class="clear"> </div>
	<div id="reads"> 
		<h1> Recent Reads </h1>
		<p> 
			'Che', Jon Lee Anderson; &ensp; 'The Structure of Scientific Revolutions', Thomas Kuhn; &ensp; 'The Lean Startup', Eric Reis; &ensp; 'A Brief History of Time', Stephen Hawking; &ensp; 'The Design of Everyday Things', Don Norman; &ensp; 'The Big Short', Michael Lewis; &ensp;'The 4-Hour Workweek', Timothy Ferriss; &ensp; 'The Art of War', Sun Tzu; &ensp;'Eleven Rings', Phil Jackson; &ensp;'Outliers', Malcolm Gladwell; &ensp;'Steve Jobs', Walter Isaacson; &ensp;'Relativity', Albert Einstein; &ensp;'Six Easy Pieces', Richard Feynman; &ensp;'Without Their Permission', Alexis Ohanian; &ensp; 'Good to Great', Jim Collins.
		</p>
	</div>
	<div class="icon reads"> </div>
	<div class="clear"> </div>
	<div id="work"> 
		<h1> Responsive Technology <span class="date"> 2013 - Present </span></h1><div class="clear"> </div>
		<p>
			Responsive Technology was started in 2013 to help fortify and renovate an already problematic digital business landscape.  I oversee full-stack web development, graphic design, implementation, and marketing for each project. Through our unique approach to the internet, Responsive has and will continue to revolutionize the way food service, private equity, retail, contractors, and educators interact with their online business.
		</p>
		<h1>Isometry Labs <span class="date">2014</span></h1><div class="clear"> </div>
		<p>
			Worked alongside an international team of developers and designers to bring Isometry's flagship products into MVP & Beta release including Crewcade.  Crewcade is a competitive gaming platform targeted at the massive online global gaming community.  The service provided gamers with a platform and identity, as well as tools to manage teams, tournaments, and a community presence.
		</p>
		<h1>Net@Work, New York, NY <span class="date">2014</span></h1><div class="clear"> </div>
		<p>
			Developed several products as a front-end engineer for Net@Work's web team.  Involved in various CMS-driven development projects built on Wordpress and Joomla, and developed extensive portions of Net@Work's Ecommerce releases on Magento.  Additionally contributed design mockups, ideas, and collateral during the lifecycle of our digital products.
		</p>
		<h1> The Liveboard, Rochester, NY <span class="date"> 2011 - 2013 </span></h1><div class="clear"> </div>
		<p> 
			The Liveboard is an online service to post and share events on a college campus. It was built to solve problems
			regarding overuse of fliers around campus to advertise events and groups. As the lead interface designer, I
			generated, coded, and implemented the look and feel of the site in a Ruby on Rails and Backbone.js application.
		</p>
		<h1> 500 Startups, Bluefields, Mountain View, CA <span class="date"> 2012 </span></h1><div class="clear"> </div>
		<p>
			Web design and development intern for Bluefields, a 500 Startups portfolio company in Mountain View, CA. Developed
			a marketing campaign through visual advertisement and social media conversion. Created and implemented a full re-
			design of BF's backyard sports blog "Sports on the Brain" resulting in web traffic growth over 60%.
		</p>
	</div>
	<div class="icon work"> </div>
	<div class="clear"> </div>
	<div id="education"> 
		<h1> University of Rochester, Rochester NY <span class="date"> Class 2013 </span></h1><div class="clear"> </div>
		<p>
			B.S. Mechanical Engineering; Economics Cluster
		</p>
		<h1> Selected Study: Heat & Mass Transfer Final Project </h1>
		<p>
			Designed a space vehicle that satisfied several different livable conditions. Given a certain amount of heat generation
			in the cockpit, a foil-based insulation was developed that only permits radiation heat transfer in space; there is no
			conduction or convection. The analysis determined how long it will take to break the safe cockpit temperature range
			if heating is lost.
		</p> 
	</div>
	<div class="icon education"> </div>
	<div class="clear"> </div>
	<div class="bottom">
		<div id="awards"> 
			<h1> Awards & Leadership </h1>
			<ul>
				<li> UR Varsity Soccer 2009-2012
				<li> UR Baja Alabama, 2012 </li>
				<li> Dwight D. Eisenhower Leadership Award, 2008 </li>
				<li> PHS Varsity Soccer Captain, 2008 </li>
				<li> Parkland Morning News Director, 2007-2009 </li>
			</ul>
		</div>
		<div id="resume_skills"> 
			<h1> Applied Skills </h1>
			<ul style="padding-right: 3em;">
				<li> Adobe Creative Suite </li>
				<li> CAD/ID Software </li>
				<li> HTML, CSS, Javascript </li>
				<li> Ruby on Rails </li>
			</ul>
			<ul>
				<li> Microsoft Office </li>
				<li> Soccer Mid/Fwd </li>
			</ul>
		</div>		
		<div class="icon awards"> </div>
		<div class="clear"></div>
	</div>
</div>