<div id="navigation">
	<a href="/welcome/index">home<div class="box"></div></a>
	<a href="/documents/resume">resume<div class="box"></div></a>
	<a href="mailto:bryan.knouse@gmail.com">email<div class="box"></div></a>
	<a href="/i_am_an/engineer">engineering<div class="box"></div></a>
	<a href="/i_am_an/entrepreneur">entrepreneurship<div class="box"></div></a>
	<a href="/i_am_a/designer">design<div class="box"></div></a>
</div>

<div id="page">
	<div id="bg"> </div>
	<div id="header_circles">
		<div class="biz_circle one"> </div>
		<div class="biz2_circle two"> </div>
		<div class="biz3_circle three"> </div>
		<div class="biz2_circle four"> </div>
		<div class="biz3_circle five"> </div>
		<div class="biz2_circle six"> </div>
		<div class="biz_circle seven"> </div>
	</div>

	<div class="ent_image"> </div>
	<div id="biz_header"><h1> I AM AN ENTREPRENEUR </h1></div>

	<div id="biz_content">
		<div class="left">
			<div class="title">CLIENT RELATIONSHIPS</div>
			<div class="relationships">
				<div class="stars"><img width="250" src="/assets/business_stars.png" /></div>
				<div class="heading">Five star freelancer rating on Elance.com</div>

				<div class="description">
					<div class="intro">Feedback from 1/15/2014:</div>
					<span style="font-style: italic;">“Bryan was very professional, and I appreciated his open communication throughout the course of the project. He was very receptive to feedback, and using my vague guidelines was able to create a very cool concept and execute it perfectly. I'll definitely be hiring him again!”</br>
					<div class="center">- CIRadar, Competitive Intelligence</div></span>
				</div>
				<div class="description">
					<div class="intro">Feedback from 1/12/2014:</div>
					<span style="font-style: italic;">Bryan did an excellent job. He was flexible, understood what I needed and delivered extremely good results. I'd recommend him to anyone.”</br>
					<div class="center">- Byrne Entertainment</div></span>
				</div>
				<div class="description">
					<div class="intro">Feedback from 1/7/2014:</div>
					<span style="font-style: italic;">“Very high quality work done in a very short period of time.  I look forward to finding another opportunity to work together.”</br>
					<div class="center">- Sean Jacobsohn, Emergence Capital Partners</div></span>
				</div>			
			</div>


		</div>
		<div class="right">
			<div class="title">MARKETING & BUSINESS GROWTH</div>
			<div class="client">
				<div class="description">
					Found contractual work from small markets in Allentown, PA, to large ecosystems in Philadelphia, Rochester, and Baltimore.
				</div>
				<div class="description">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</div>
			</div>
			<div class="scorecard">
				<div class="text">
					DIGITAL MARKETING</br>
					BRANDING & IDENTITY</br>
					RESEARCH & ANALYTICS</br>
					WRITTEN & VERBAL COM</br>
					PRESENTING/PUBLIC SPEAKING</br>
					MICROSOFT OFFICE TOOLS</br>
				</div>
				<div id="dots">
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"></div>
						<div class="outer"></div>
					</div>
					<div class="circrow">
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
						<div class="outer"><div class="inner"></div></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
	$('.biz_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(3000, function() {
	        $(this).fadeIn(2000, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 666);
	});

	$('.biz2_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(4400, function() {
	        $(this).fadeIn(3000, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz2_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 456);
	});

	$('.biz3_circle').bind('fade-cycle', function() {
	    $(this).fadeOut(3900, function() {
	        $(this).fadeIn(2700, function() {
	            $(this).trigger('fade-cycle');
	        });
	    });
	});

	$('.biz3_circle').each(function(index, elem) {
	    setTimeout(function() {
	        $(elem).trigger('fade-cycle');
	    }, index * 800);
	});	
</script>