// Place all the styles related to the because controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
	clear:both;
}

#page {
	width: 100%;

	h1 {
		margin:0;
		padding: 1em 0 1em 0;
		font-size: 2.5em;
		text-align: center;
		font-family: 'Cardo', serif;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}
}

#navigation {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size: 1em;
	position: absolute;
	top: 1em;
	left: 2em;

	a {
		text-decoration: none;
		color: #999;
		font-family: 'Source Sans Pro',sans-serif;
		font-weight: 300;
		font-size: 1em;
		line-height: 1em;
		-webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

		.box {
			height: 3px;
			width: 0;
			background: #777;
			margin-top: -.6em;
			margin-bottom: .75em;
			margin-left: -2.25em;
			-webkit-transition: all .5s;
	        -moz-transition: all .5s;
	        -ms-transition: all .5s;
	        -o-transition: all .5s;
	        transition: all .5s;
	    }
	}

	.selected {
		margin-left: -.5em;
		color: #222;

		.box {
			width: 1.5em;
		}
	}

	a:hover {
		margin-left: -.5em;
		color: #333;
		
		.box {
			width: 1.5em;
		}
	}
}


////////////////////////////////////////////////////////////////////////////////////////////////////ENGINEERING

#eng_header {
	width: 100%;
	height: 180px;
	padding-bottom: 4em;

	h1 {
		padding: 60px 0 20px 0;
		font-size: 40px;
		font-weight: bold;
	}

	img {
		top: -20px;
		right: 0;
		opacity: .035;
		width: 100%;
		z-index: -1;
		position: absolute;
	}
}

.float_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #666;
	font-size: 1.75em;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#topbar {
	position: relative;
	width: 100%;
	height: .8em;
	background: #999;
	margin-bottom: -.5em;
	box-shadow: 0px 8px 10px #000;
	z-index: 15;
}

#botbar {
	position: relative;
	width: 100%;
	height: .8em;
	background: #999;
	margin-top: -.5em;
	z-index: 15;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#code_area {	
	padding-top: .5em;
	width: 100%;
	height: 550px;
	background: #272822;
	z-index: -10;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#nav_btns {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	height: 80px;
	width: 250px;
	font-size: 4em;
	font-weight: 700;
	z-index: 25;

	.prev_btn {
		float: left;
		padding: 0 20px 0 20px;
		cursor: auto;
		opacity: 0;
		-webkit-transition: all .25s;
	    -moz-transition: all .25s;
	    -ms-transition: all .25s;
	    -o-transition: all .25s;
	    transition: all .25s;
	}

	.prev_btn:hover {
		background: #999;
	}

	.next_btn {
		float: right;
		cursor: pointer;
		padding: 0 20px 0 20px;
		-webkit-transition: all .25s;
	    -moz-transition: all .25s;
	    -ms-transition: all .25s;
	    -o-transition: all .25s;
	    transition: all .25s;
	}

	.next_btn:hover {
		background: #999;
	}
}


#concept_row {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;

	h1 {
		color: #fff;
		margin:0 0 20px 0;
		padding: 0 0 5px 0;
		width: 100%;
		text-align: left;
		border-bottom: 1px dotted #888;
		font-size: 30px;
		letter-spacing: 2px;
		font-weight: 900;
		font-style: italic;
		font-family: 'Source Sans Pro', sans-serif;
	}

	.description {
		width: 27%;
		padding: 25px 5px 25px 25px;
		max-height: 420px;
		min-width: 325px;
		left: 3%;
		position: relative;
		z-index: 50;
		background: rgba(0,0,0,.85);
		border: 2px solid #999;
		margin-top: 40px;

		p  {
			padding: 0px 0 10px 0;
			margin: 0;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 14px;
			line-height: 1.6em;
			font-weight: 400;
			color: #eee;
		}
	}

	.description .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
		border-radius: 0;
	}

	.description .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		border-radius: 0;
	}

	.digital {
		width: 100%;
		height: 100%;
		position: absolute;
		vertical-align: top;
		left: 0;
		overflow: hidden;

		.digi {
			width: 35%;
			padding: 25px 5px 25px 25px;
			max-height: 420px;
			right: 7%;
			position: absolute;
			z-index: 50;
			background: rgba(0,0,0,.85);
			border: 2px solid #999;
			margin-top: 80px;

			p {
				padding: 0px 0 10px 0;
				margin: 0;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 14px;
				line-height: 1.6em;
				font-weight: 400;
				color: #eee;

				a {
					text-decoration: none;
					color: #eee;
					border-bottom: 1px solid;
				}
			}
		}

		.digi .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
			border-radius: 0;
		}

		.digi .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			border-radius: 0;
		}

		.skills {
			position: absolute;
			right: 0;
			top: 40px;
			font-size: 4em;
			line-height: 2em;
			letter-spacing: 3px;
			font-style: italic;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			color: #323232;
			text-align: right; 
		}
		  
	    .skills .border {
		  	padding-top: .25em;
		  	margin-bottom: .25em;
		  	border-bottom: 1px dotted #333; 
	    }

	    .codies {
	    	height: 100%;
	    	position: absolute;
			margin-right: 2%;
			opacity: 1;
			z-index: 0;
	    }
	}

	.concepts {
		width: 100%;
		height:100%;
		padding-left: 5%;
		position: absolute;
		vertical-align: top;
		left: 100%;
		overflow: hidden;

		.concepts_one {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
	}

	.design {
		width:100%;
		height: 100%;
		padding-left: 5%;
		position: absolute;
		vertical-align: top;
		left: 200%;
		overflow: hidden;

		.design_one {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
	}

	.testing {
		width: 100%;
		height: 100%;
		padding-left: 5%;
		position: absolute;
		vertical-align: top;
		left: 300%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;			
		}
	}

	.construction {
		width: 100%;
		height: 100%;
		padding-left: 5%;
		position: absolute;
		vertical-align: top;
		left: 400%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
	}
}

@media all and (max-width: 768px) {

	#concept_row {
		.digital {
			.digi {
				width: 60%;
			}
		}

		.description {
			width: 60%;
		}
	}
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////DESIGN

#des_title {
	padding-top: 200px;
	padding-bottom: 8em;
	text-align: center;

	img {
		width: 80%;
		max-width: 1400px;
	}
}

.subtitle_bar {
	width: 100%;
	background: #424242;
	height: 80px;

	.subtitle {
		font-size: 60px;
		letter-spacing: -2px;
		line-height: 80px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		color: #fff;
		text-align: right;
		margin-right: 20%
	}
}

@media all and (max-width: 768px) {

	.subtitle_bar {
		height: 50px;

		.subtitle {	
			font-size: 40px;
			line-height: 50px;
			letter-spacing: -2px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			color: #fff;
			text-align: right;
			margin-right: 20%		
		}
	}
}

#web_ux {
	padding-bottom: 3em;

	@media (min-width: 1600px) {
		#rooneys {
			padding-top: 5em;
			width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}	

	@media (max-width: 1600px) and (min-width: 1000px) {
		#rooneys {
			padding-top: 5em;
			width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: 1000px) {
		#rooneys {
			padding-top: 5em;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}			
	

	.rooneys_imac {
		max-width: 475px;
		width: 50%;
		float: left;
	}

	.rooneys_title {
		float: right;
		margin-right: 1%;
		width: 45%;
		max-width: 446px;
	}

	.rooneys_desc {
		float: right;
		width: 45%;
		padding-top: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.2em;
		line-height: 1.6em;
		font-weight: 200;
		text-align: center;
	}

	@media (min-width: 1600px) {
		#rouhana {
			padding-top: 8em;
			padding-bottom: 8em;
			width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: 1600px) and (min-width: 1000px) {
		#rouhana {
			padding-top: 8em;
			padding-bottom: 8em;
			width: 900px;
			margin-left: auto;
			margin-right: auto;

			.rouhana_ipad {
				padding-top: 2em;
			}
		}
	}	

	@media (max-width: 1000px) {
		#rouhana {
			padding-top: 8em;
			padding-bottom: 8em;
			width: 80%;
			margin-left: auto;
			margin-right: auto;

			.rouhana_ipad {
				padding-top: 3em;
			}
		}
	}	

	.rouhana_title {
		width: 47%;
		margin-left: 3%;
		max-width: 374px;
	}

	.rouhana_desc {
		width: 45%;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.2em;
		line-height: 1.6em;
		font-weight: 200;
		text-align: center;
	}

	.rouhana_ipad {
		float: right;
		width: 50%;
		max-width: 590px;
	}
}

#products {
	width: 100%;
	background: #d4d4d4;

	.container {
		padding-top: 4em;
		text-align: center;
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		.products {
			width: 100%;
			margin-left: -5%;
			max-width: 1500px;
		}

		.description {
			width: 80%;
			color: #444;
			margin-left: auto;
			margin-right: auto;
			padding-top: 2.5em;
			padding-bottom: 8em;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}

	}
}

#engineering {
	width: 100%;
	background: url('/assets/design_eng_bg.jpg');
	background-size: cover;
	padding-top: 4em;
	padding-bottom: 8em;

	.engineering_photo {
		width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 1296px;
	}

	.eng_desc {
		width: 60%;
		max-width: 979px;
		padding: 3em 5% 3em 5%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.25em;
		line-height: 1.6em;
		font-weight: 200;
		text-align: center;
		background-size: contain;
		background-position: center;
	}

}


#data {
	width: 100%;
	position: relative;
	min-height: 900px;
	background: #898989;
	padding-bottom: 4em;

	.design_circle {
		background: #fecdc9;
		opacity: 1;
		position: absolute;
		z-index: 10;
	}

	@media (min-width: 1600px) {
		.one {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			right: 1185px;
			top: 260px;
		}

		.two {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			right: 1227px;
			top: 245px;
		}

		.three {
			width: 5px;
			height: 5px;
			border-radius: 5px;
			right: 1216px;
			top: 355px;
		}

		.four {
			width: 12px;
			height: 12px;
			border-radius: 12px;
			right: 1230px;
			top: 194px;
		}	

		.five {
			width: 8px;
			height: 8px;
			border-radius: 8px;
			right: 1282px;
			top: 335px;
		}	

		.six {
			width: 4px;
			height: 4px;
			border-radius: 4px;
			right: 1082px;
			top: 552px;
		}		

		.data_image {
			padding: 65px 0 65px 0;
			float: right;
			width: 1500px;
		}

		.data_desc{
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}
	}

	@media (max-width: 1600px) and (min-width: 1250px) {
		.one {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			right:950px;
			top: 218px;
		}

		.two {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			right:983px;
			top: 165px;
		}

		.three {
			width: 5px;
			height: 5px;
			border-radius: 5px;
			right: 1027px;
			top: 281px;
		}

		.four {
			width: 12px;
			height: 12px;
			border-radius: 12px;
			right: 980px;
			top: 205px;
		}	

		.five {
			width: 8px;
			height: 8px;
			border-radius: 8px;
			right: 972px;
			top: 294px;
		}	

		.six {
			width: 4px;
			height: 4px;
			border-radius: 4px;
			right: 865px;
			top: 454px;
		}		

		.data_image {
			padding: 65px 0 65px 0;
			float: right;
			width: 1200px;
		}

		.data_desc{
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}
	}

	@media (max-width: 1250px) and (min-width: 900px) {
		.one {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			right: 672px;
			top: 175px;
		}

		.two {
			width: 8px;
			height: 8px;
			border-radius: 8px;
			right: 695px;
			top: 165px;
		}

		.three {
			width: 7px;
			height: 7px;
			border-radius: 7px;
			right: 697px;
			top: 138px;
		}

		.four {
			width: 6px;
			height: 6px;
			border-radius: 6px;
			right: 727px;
			top: 217px;
		}	

		.five {
			width: 5px;
			height: 5px;
			border-radius: 5px;
			right: 689px;
			top: 228px;
		}	

		.six {
			width: 4px;
			height: 4px;
			border-radius: 4px;
			right: 613px;
			top: 342px;
		}		

		.data_image {
			padding: 65px 0 65px 0;
			float: right;
			width: 850px;
		}

		.data_desc{
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}
	}	

	@media (max-width: 900px)  {
		

		.data_image {
			padding: 4em 0 4em 0;
			float: right;
			width: 90%;
		}

		.data_desc{
			margin-left: auto;
			margin-right: auto;
			width: 90%;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}
	}		

}

#skillz {
	width: 100%;
	position: relative;
	padding-top: 5em;
	padding-bottom: 8em;
	background: #242424;

	.toolbox_image {
		width: 100%;
		position: relative;
		left: -100%;
		-webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
	}

	.toolbox_trigger {
		width: 50%;
	}
}

#border {
	width: 100%;
	background: #222;
	height: 4px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 4px solid #888;
	border-bottom: 4px solid #888;

	.line {
		width: 100%;
		height: 4px;
		background: #888;
		z-index: 10;
	}
}

#fini {
	width: 100%;
	padding-top: 8em;
	padding-bottom: 8em;
	background: #333;

	.container {
		width: 100%;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background: #444; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse contain,  #444 0%, #333333 95%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 95%, color-stop(0%,#444), color-stop(95%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


		.fini_img {
			width: 497px;
			height: 232px;
			margin-top: 200px;
			margin-bottom: 200px;
		}
	}

	.fini_button {
		opacity: .45;
		width: 100px;
		cursor: pointer;
		-webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
	}

	.fini_button:hover {
		opacity: 1;
	}
}

.d_subtitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #eee;
	width: 30%;
	font-size: 1.75em;
	padding: .5em 0 .5em 0;
	background: #444;
}

.d_left {
	position: absolute;
	left: 0;
	text-align: right;
	padding-right: 2em;
}

.d_right {
	position: absolute;
	right: 0;
	text-align: left;
	padding-left: 2em;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 90%;

	.row {
		width: 100%;
		padding-bottom: 3em;
		margin-bottom: 2em;
		margin-top: 7.5em;
		display: inline-block;
	}

	.description {
		padding-top: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
		font-size: 1.1em;
		text-align: center;
	}

	.interface {
		max-width: 50%;
		height: 400px;
		display: inline-block;

		.imgroup {
			text-align: justify;

			img {
				display: inline-block;
				width: 45%;
				border: 1px solid #ddd;
			}
		}
	}

	.analytics {
		max-width: 44%;
		border: 1px solid;
		float: right;

		.google {
			height: 220px;
			background: #aaa;
		}
	}

	.product {
		max-width: 50%;
		float: left;

		.imgroup {
			text-align: justify;


			img {
				margin-left: auto;
				margin-right: auto;
				display: inline-block;
				width: 30%;
				border: 1px solid #ddd;
			}
		}
	}
}

.clear {
	clear:both;
}

#des_footer {
	background: url('/assets/design_design.png') repeat-x;
	background-position: bottom;
	height: 330px;
	width: 100%;
	padding-top: 7.5em;
}



//////////////////////////////////////////////////////////////////////////////////////////// ENTREPRENEUR


#header_circles {
	height: 252px;
	position: relative;
	overflow-x: hidden;
	z-index: -1;

	.biz_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .4;
	}

	.biz2_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .2;
	}	

	.biz3_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .75;
	}

	.one {
		width: 300px;
		height: 300px;
		border-radius: 300px;
		left: -100px;
		top: -100px;
	}

	.two {
		width: 65px;
		height: 65px;
		border-radius: 65px;
		left: 320px;
		top: -3px;
	}

	.three {
		width: 60px;
		height: 60px;
		border-radius: 65px;
		left: 266px;
		top: 165px;
	}

	.four {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 368px;
		top: 105px;
	}

	.five {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 502px;
		top: 8px;
	}

	.six {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 790px;
		top: 155px;
	}

	.seven {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		left: 525px;
		top: 120px;
	}	

	.eight {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		left: 995px;
		top: 35px;
	}

	.nine {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		left: 1225px;
		top: 70px;
	}	

	.ten {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 1102px;
		top: 167px;
	}

	.ent_image {
		width: 1200px;
		height: 252px;
		position: absolute;
		margin-left: 65px;
		margin-top: -20px;
		background: url("/assets/business_header.png") no-repeat;
		z-index: -1;
	}

	#biz_header {
		width: 100%;

		h1 {
			padding-top: 1em;
			font-size: 3em;
			font-weight: bold;
			z-index: 15;
		}
	}							
}

@media (min-width: 1200px) {
	#biz_content {
		width: 800px;

		.star_box {
			width: 500px;

			.star_img {
				background: url('/assets/business_star.png') no-repeat;
				background-size: contain;
				display: inline-block;
				width: 75px;
				height: 75px;
				margin-left: 10px;
				margin-right: 10px;
				opacity: 0;
			}
		}
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	#biz_content {
		width: 700px;

		.star_box {
			width: 500px;

			.star_img {
				background: url('/assets/business_star.png') no-repeat;
				background-size: contain;
				display: inline-block;
				width: 75px;
				height: 75px;
				margin-left: 10px;
				margin-right: 10px;
				opacity: 0;
			}
		}
	}
}

@media (min-width: 650px) and (max-width: 899px) {
	#biz_content {
		width: 600px;

		.star_box {
			width: 500px;

			.star_img {
				background: url('/assets/business_star.png') no-repeat;
				background-size: contain;
				display: inline-block;
				width: 75px;
				height: 75px;
				margin-left: 10px;
				margin-right: 10px;
				opacity: 0;
			}
		}
	}
}

@media (max-width: 649px) {

	#biz_content {
		width: 95%;

		.relationships {

			.star_box {
				width: 90%;

				.star_img {
					background: url('/assets/business_star.png') no-repeat;
					background-size: contain;
					display: inline-block;
					height:50px;
					width: 50px;
					margin-left: 1%;
					margin-right: 1%;
					opacity: 0;
				}
			}
		}

		#responsive_growth {
			padding-bottom: 60px;

			.description {
				text-align: center;

				.graph_desc {
					margin: auto;
					display: block;
					width:auto;

				}

				.earnings_graph_axes {
					float: none;
					margin-top: 50px;

					.earnings_ylabel {
						top: -90px;
					}
				}
			}
		}

		#bfgrowth {

			.description {
				text-align: center;

				.graph_desc {
					width: auto;
					margin:auto;
					display: block;
				}

				.growth_graph {
					float: none;
					margin-top: 50px;
				}
			}
		}
	}
}

#biz_content {
	padding-top: 1em;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;

	.title {
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		color: #666;
		font-size: 1.95em;
		text-align: center;
		letter-spacing: 3px;
		padding-top: 1.5em;
		padding-bottom: .5em;	
		padding-left: 2em;
		padding-right: 2em;
	}

	h3 {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: #888;
		margin-top: 0;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 1.25em;
	}

	.relationships {
		padding-bottom: 60px;

		.star_box {
			height: 80px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			text-align: center; 
		}

		.stars:hover {
			background: url('/assets/business_stars_hover.png') no-repeat;
			background-size: 100%;
		}
		
		.description {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 1.1em;
			color: #333;
			padding-top: 3em;
			margin-left: auto;
			margin-right: auto;

			.intro {
				padding-bottom: .5em;
				font-weight: 400;
			}

			.center {
				text-align: center;
			}
		}
	}

	h3 {
		padding-bottom: 40px;
	}

	.description {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 1.1em;
		padding-top: 1em;
		padding-bottom: 1em;
		width: 100%;
		color: #333;
	}

	#responsive_growth {
		width: 100%;
		padding: 15px 15px 100px 15px;
		margin-bottom: 60px;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C */
		
		.graph_desc {
			width: 40%;
			font-size: .9em;
			display: inline-block;
		}

		.earnings_graph_axes {
			float: right;
			width: 275px;
			height: 150px;
			padding-left: 25px;
			border-left: 4px solid #111;
			border-bottom: 4px solid #111;
			display: inline-block;
			margin-top: 10px;
			vertical-align: top;
			z-index: 10;

			.earnings_outer {
				height: 125px;
				width: 0px;
				overflow: hidden;

				.earnings_data {
					background: url('/assets/earnings_graph.png') no-repeat;
					background-size: 100% 100%;
					width: 275px;
					height: 125px;
				}
			}
		}

		.earnings_ylabel {
			letter-spacing: 3px;
			text-transform: uppercase;
			position: relative;
			top: -175px;
			left: -185px;
			/* Safari */
			-webkit-transform: rotate(-90deg);
			/* Firefox */
			-moz-transform: rotate(-90deg);
			/* IE */
			-ms-transform: rotate(-90deg);
			/* Opera */
			-o-transform: rotate(-90deg);
		}	

		.earnings_xlabel {
			text-align: right;
			position: relative;
			top: 35px;
			left: -125px;
			letter-spacing: 3px;
			text-transform: uppercase;
		}			
	}

	#bfgrowth {
		margin-left:auto;
		margin-right:auto;
		padding: 15px 15px 100px 15px;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C */

		.graph_desc {
			width: 40%;
			font-size: .9em;
			display: inline-block;		
		}

		.growth_graph {
			float: right;
			width: 300px;
			height: 150px;
			border-left: 4px solid #111;
			border-bottom: 4px solid #111;
			display: inline-block;
			vertical-align: top;
			margin-top: 10px;
			z-index: 10;

			.bar {
				background: #63b7db;
				width: 25%;
				margin: 0 0 5px 4%;
				padding: 0;
				text-align: center;
				display: inline-block;
				vertical-align: bottom;
				z-index: 5;

				.counter {
					font-family: 'Source Sans Pro',sans-serif;
					font-weight: 700;
					padding-top: .5em;
					color: #fff;
					opacity: 0;
				}

				.count_style {
					font-family: 'Source Sans Pro',sans-serif;
					font-weight: 700;
					padding-top: .5em;
					color: #fff;
					opacity: 0;
				}
			}

			.placeholder {
				width: 1px;
				height: 100%;
				position: relative;
				display: inline-block;
			}

			.bar_one {
				margin-left: 15px;
				height: 0%;
			}

			.bar_two {
				height: 0%;
			}

			.bar_three {
				height: 0%;
			}

			.xlabel {
				width: 32%;
				float: left;
				position: relative;
				text-align: right;
				bottom: -40px;
				left: -6%;
			}

			.rotate {
				/* Safari */
				-webkit-transform: rotate(-45deg);
				/* Firefox */
				-moz-transform: rotate(-45deg);
				/* IE */
				-ms-transform: rotate(-45deg);
				/* Opera */
				-o-transform: rotate(-45deg);
			}
		}
	}

	.clear {
		clear: both;
	}
}