// Place all the styles related to the because controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
	clear:both;
}

#page {
	width: 100%;

	h1 {
		margin:0;
		padding: 1em 0 1em 0;
		font-size: 2.5em;
		text-align: center;
		font-family: 'Cardo', serif;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}
}

#navigation {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size: 1em;
	position: absolute;
	top: 1em;
	left: 2em;

	a {
		text-decoration: none;
		color: #999;
		font-family: 'Source Sans Pro',sans-serif;
		font-weight: 300;
		font-size: 1em;
		line-height: 1em;
		-webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

		.box {
			height: 3px;
			width: 0;
			background: #777;
			margin-top: -.6em;
			margin-bottom: .75em;
			margin-left: -2.25em;
			-webkit-transition: all .5s;
	        -moz-transition: all .5s;
	        -ms-transition: all .5s;
	        -o-transition: all .5s;
	        transition: all .5s;
	    }
	}

	.selected {
		margin-left: -.5em;
		color: #222;

		.box {
			width: 1.5em;
		}
	}

	a:hover {
		margin-left: -.5em;
		color: #333;
		
		.box {
			width: 1.5em;
		}
	}
}


////////////////////////////////////////////////////////////////////////////////////////////////////ENGINEERING

#eng_header {
	width: 100%;
	padding-bottom: 4em;

	h1 {
		font-size: 3em;
		font-weight: bold;
	}

	img {
		top: -30px;
		right: 0;
		opacity: .035;
		width: 100%;
		z-index: -1;
		position: absolute;
	}
}

.float_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #666;
	font-size: 1.75em;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#topbar {
	position: relative;
	width: 100%;
	height: .8em;
	background: #999;
	margin-left: -1em;
	padding-right: 1em;
	margin-bottom: -.5em;
	box-shadow: 0px 8px 10px #000;
	z-index: 15;
}

#botbar {
	position: relative;
	width: 100%;
	height: .8em;
	background: #999;
	margin-left: -1em;
	margin-top: -.5em;
	padding-right: 1em;
	z-index: 15;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#code_area {	
	padding-top: .5em;
	width: 100%;
	background: #272822;
	z-index: -10;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

	#numbers {
		position: relative;
		top: 0px;
		height: 100%;
		overflow: hidden;
		padding-top: 0em;
		padding-left: .175em;
		font-size: 1.25em;
		line-height: 1em;
		margin-top: 0;
		color: #cacaca;
		font-family: 'Source Sans Pro', sans-serif;
		z-index: 5;

		.btn {
			cursor: pointer;
		}
	}

	.container {
		height: 600px;
	}
}

#nav_btns {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	height: 80px;
	width: 250px;
	font-size: 4em;
	font-weight: 700;
	z-index: 25;

	.prev_btn {
		float: left;
		padding: 0 20px 0 20px;
		cursor: auto;
		opacity: 0;
		-webkit-transition: all .25s;
	    -moz-transition: all .25s;
	    -ms-transition: all .25s;
	    -o-transition: all .25s;
	    transition: all .25s;
	}

	.prev_btn:hover {
		background: #999;
	}

	.next_btn {
		float: right;
		cursor: pointer;
		padding: 0 20px 0 20px;
		-webkit-transition: all .25s;
	    -moz-transition: all .25s;
	    -ms-transition: all .25s;
	    -o-transition: all .25s;
	    transition: all .25s;
	}

	.next_btn:hover {
		background: #999;
	}
}


#concept_row {
	top: -608px;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;

	h1 {
		color: #fff;
		margin:0 0 20px 0;
		padding: 0 0 5px 0;
		width: 100%;
		text-align: left;
		border-bottom: 1px dotted #888;
		font-size: 2.5em;
		letter-spacing: 2px;
		font-weight: 900;
		font-style: italic;
		font-family: 'Source Sans Pro', sans-serif;
	}

	.description {
		width: 27%;
		height: 300px;
		float: left;
		margin-right: 3%;

		p  {
			padding: 0px 0 10px 0;
			margin: 0;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.2em;
			line-height: 1.5em;
			font-weight: 300;
			color: #eee;
		}
	}

	.digital {
		width: 95%;
		min-height: 550px;
		position: absolute;
		vertical-align: top;
		left: 1%;

		.digi {
			padding-top: 6em;
			width: 40%;
			position: absolute;
			right: 30%;
			z-index: 10;

			p {
				width: 100%;
				float: left;
				z-index: 10;
			}
		}

		.skills {
			position: absolute;
			right: 0;
			top: 40px;
			font-size: 4em;
			line-height: 2em;
			letter-spacing: 3px;
			font-style: italic;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			color: #323232;
			text-align: right; 
		}
		  
	    .skills .border {
		  	padding-top: .25em;
		  	margin-bottom: .25em;
		  	border-bottom: 1px dotted #333; 
	    }

	    img {
	    	width: 35%;
	    	max-width: 579px;
			position: absolute;
			margin-right: 2%;
			opacity: .4;
			z-index: 0;
	    }
	}

	.concepts {
		width: 95%;
		padding-top: 3em;
		max-width: 1700px;
		position: absolute;
		vertical-align: top;
		left: 105%;

		.concepts_one {
			padding-top:13px;
			max-width: 800px;
			width: 29.5%;
			float: left;
			margin-right: 2%;
		}

		.concepts_two {
			padding-top:13px;
			max-width: 800px;
			width: 36.5%;
			float: left;
			margin-right: 2%;
		}		
	}

	.design {
		width: 95%;
		padding-top: 3em;
		position: absolute;
		min-width: 800px;
		vertical-align: top;
		left: 205%;

		.design_one {
			padding-top: 13px;
			width: 31.2%;
			float: left;
			margin-right: 2%;
		}

		.design_two {
			padding-top: 13px;
			width: 34.8%;
			float: left;
			margin-right: 2%;
		}
	}

	.testing {
		width: 95%;
		min-width: 800px;
		padding-top: 3em;
		position: absolute;
		vertical-align: top;
		left: 304%;

		img {
			padding-top: 13px;
			margin-right: 2%;
			float: left;
			width: 33%;
		}
	}

	.construction {
		width: 95%;
		min-width: 800px;
		max-width: 1600px;
		padding-top: 3em;
		position: absolute;
		vertical-align: top;
		left: 407%;

		img {
			padding-top: 13px;
			float: left;
			margin-right: 4%;
			width: 31%;
		}
	}
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////DESIGN

#des_title {
	padding-top: 4em;
	padding-bottom: 8em;
	text-align: center;

	img {
		width: 80%;
		max-width: 1400px;
	}
}

.subtitle_bar {
	width: 100%;
	background: #424242;
	height: 6em;
	padding-top: 1.5em;

	.subtitle {
		font-size: 5em;
		letter-spacing: -2px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		color: #fff;
		text-align: right;
		margin-right: 20%
	}
}

#web_ux {
	padding-bottom: 3em;

	#rooneys {
		padding-top: 5em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		.rooneys_imac {
			max-width: 475px;
			width: 50%;
			float: left;
		}

		.rooneys_title {
			float: right;
			margin-right: 1%;
			width: 45%;
			max-width: 446px;
		}

		.rooneys_desc {
			float: right;
			width: 45%;
			padding-top: 2em;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.2em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}
	}

	#rouhana {
		padding-top: 8em;
		padding-bottom: 8em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		.rouhana_title {
			width: 47%;
			margin-left: 3%;
			max-width: 374px;
		}

		.rouhana_desc {
			width: 45%;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.2em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}

		.rouhana_ipad {
			float: right;
			width: 50%;
			max-width: 590px;
		}
	}
}

#products {
	width: 100%;
	background: #d4d4d4;

	.container {
		padding-top: 4em;
		text-align: center;
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		.products {
			width: 100%;
			margin-left: -5%;
			max-width: 1500px;
		}

		.description {
			width: 80%;
			color: #444;
			margin-left: auto;
			margin-right: auto;
			padding-top: 2.5em;
			padding-bottom: 8em;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
		}

	}
}

#engineering {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4em;
	padding-bottom: 8em;

	.engineering_photo {
		width: 100%;
		max-width: 1296px;
	}

	.eng_desc {
		width: 90%;
		max-width: 979px;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 3em;
		margin-top: -24%;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.25em;
		line-height: 1.6em;
		font-weight: 200;
		text-align: center;
		background-size: contain;
		background-position: center;
	}

}

#data {
	width: 100%;
	min-height: 900px;
	background: #898989;
	padding-bottom: 4em;

	.design_circle {
		background: #fecdc9;
		opacity: 1;
		position: relative;
		z-index: 10;
	}

	.one {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		left: 21.5%;
		top: 215px;
	}

	.two {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		left: 22%;
		top: 265px;
	}

	.three {
		width: 5px;
		height: 5px;
		border-radius: 5px;
		left: 19%;
		top: 366px;
	}

	.four {
		width: 12px;
		height: 12px;
		border-radius: 12px;
		left: 24.7%;
		top: 273px;
	}	

	.five {
		width: 8px;
		height: 8px;
		border-radius: 8px;
		left: 23%;
		top: 370px;
	}	

	.six {
		width: 4px;
		height: 4px;
		border-radius: 4px;
		left: 31.6%;
		top: 600px;
	}		

	.data_image {
		padding: 4em 0 4em 0;
		float: right;
		width: 1800px;
	}

	.data_desc{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.25em;
		line-height: 1.6em;
		font-weight: 200;
		text-align: center;
	}
}

#skillz {
	width: 100%;
	padding-top: 5em;
	padding-bottom: 8em;
	background: #242424;

	.container {

		img {
			width: 100%;
			max-width: 1900px;
			float: right;
			margin-right: 25%;
		}

	}
}

#border {
	width: 100%;
	background: #222;
	height: 4px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 4px solid #888;
	border-bottom: 4px solid #888;

	.line {
		width: 100%;
		height: 4px;
		background: #888;
		z-index: 10;
	}
}

#fini {
	width: 100%;
	padding-top: 8em;
	padding-bottom: 8em;
	background: #333;

	.container {
		width: 100%;
		height: 700px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background: #444; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse contain,  #444 0%, #333333 95%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 95%, color-stop(0%,#444), color-stop(95%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse contain,  #444 0%,#333333 95%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


		.fini_img {
			width: 497px;
			height: 232px;
			margin-top: 200px;
		}

		.fini_button {
			width: 200px;
			cursor: pointer;
		}


	}
}







.d_subtitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #eee;
	width: 30%;
	font-size: 1.75em;
	padding: .5em 0 .5em 0;
	background: #444;
}

.d_left {
	position: absolute;
	left: 0;
	text-align: right;
	padding-right: 2em;
}

.d_right {
	position: absolute;
	right: 0;
	text-align: left;
	padding-left: 2em;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 90%;

	.row {
		width: 100%;
		padding-bottom: 3em;
		margin-bottom: 2em;
		margin-top: 7.5em;
		display: inline-block;
	}

	.description {
		padding-top: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
		font-size: 1.1em;
		text-align: center;
	}

	.interface {
		max-width: 50%;
		height: 400px;
		display: inline-block;

		.imgroup {
			text-align: justify;

			img {
				display: inline-block;
				width: 45%;
				border: 1px solid #ddd;
			}
		}
	}

	.analytics {
		max-width: 44%;
		border: 1px solid;
		float: right;

		.google {
			height: 220px;
			background: #aaa;
		}
	}

	.product {
		max-width: 50%;
		float: left;

		.imgroup {
			text-align: justify;


			img {
				margin-left: auto;
				margin-right: auto;
				display: inline-block;
				width: 30%;
				border: 1px solid #ddd;
			}
		}
	}

	.scorecard {
		max-width: 44%;
		float: right;

		.grid {
			vertical-align: top;
			float: right;

			.text {
				font-family: 'Source Sans Pro',sans-serif;
				font-weight:300;
				font-size: 1.15em;
				line-height: 1.75em;
				color: #666;
				text-transform: uppercase;
				text-align: right;
				display: inline-block;
			}

			#dots {
				margin-left: .5em;
				display: inline-block;
				vertical-align: top;

				.circrow {
					padding-top: .5em;
					padding-bottom: .18em;

					.outer {
						width: 12px;
						height: 12px;
						border-radius: 150px;
						margin-right: .25em;
						display: inline-block;
						border: 2px solid #777;
					}

					.inner {
						width: 8px;
						height: 8px;
						border-radius: 60px;
						background: #333;
						margin-top: .125em;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}

	.clear {
		clear:both;
	}
}

#des_footer {
	background: url('/assets/design_design.png') repeat-x;
	background-position: bottom;
	height: 330px;
	width: 100%;
	padding-top: 7.5em;
}



//////////////////////////////////////////////////////////////////////////////////////////// ENTREPRENEUR


#header_circles {

	.biz_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .2;
	}

	.biz2_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .4;
	}	

	.biz3_circle {
		background: #aaa;
		z-index: -1;
		position: absolute;
		opacity: .75;
	}

	.one {
		width: 150px;
		height: 150px;
		border-radius: 150px;
		left: 165px;
		top: -10px;
	}

	.two {
		width: 65px;
		height: 65px;
		border-radius: 65px;
		left: 410px;
		top: -3px;
	}

	.three {
		width: 60px;
		height: 60px;
		border-radius: 65px;
		left: 356px;
		top: 165px;
	}

	.four {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 458px;
		top: 105px;
	}

	.five {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 592px;
		top: 8px;
	}

	.six {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 880px;
		top: 155px;
	}

	.seven {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		left: 615px;
		top: 120px;
	}	

	.eight {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		left: 1085px;
		top: 35px;
	}

	.nine {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		left: 1315px;
		top: 70px;
	}	

	.ten {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		left: 1192px;
		top: 167px;
	}						
}

.ent_image {
	width: 1200px;
	height: 252px;
	position: absolute;
	margin-left: 155px;
	margin-top: -20px;
	background: url("/assets/business_header.png") no-repeat;
	z-index: -1;
}
#biz_header {
	width: 100%;
	height: 252px;

	h1 {
		padding-top: 1em;
		font-size: 3em;
		font-weight: bold;
		z-index: 15;
	}
}

#biz_content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	.title {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		color: #666;
		font-size: 1.85em;
		text-align: center;
		letter-spacing: 3px;
		padding-top: 1.5em;
		padding-bottom: 1em;	
		padding-left: 2em;
		padding-right: 2em;
	}

	.left {
		max-width: 46%;
		float: left;

		.relationships {

			.stars {
				text-align: center;
				width: 15em;
				margin-bottom: 1em;
				margin-left: auto;
				margin-right: auto;

				img {
					opacity: .5;
				}
			}
			
			.heading {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1.25em;
				text-align: center;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #888;
			}
			
			.description {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 300;
				font-size: 1.1em;
				color: #666;
				padding-top: 3em;
				margin-left: auto;
				margin-right: auto;

				.intro {
					padding-bottom: .5em;
					font-weight: 400;
				}

				.center {
					text-align: center;
				}
			}
		}
	}

	.right {
		max-width: 46%;
		float: right;

		.client {
			margin-left:auto;
			margin-right:auto;

			.description {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 300;
				font-size: 1.1em;
				text-align: center;
				padding-top: 1em;
				padding-bottom: 1em;
				color: #666;
			}

			.aware {

			}
		}
	}
	
	.scorecard {
		width: 100%;
		text-align: center;
		margin-top: 3.5em;
		color: #666;

		.text {
			font-family: 'Source Sans Pro',sans-serif;
			font-weight:300;
			font-size: 1.15em;
			line-height: 1.75em;
			text-transform: uppercase;
			text-align: right;
			display: inline-block;
		}

		#dots {
			margin-left: .5em;
			display: inline-block;
			vertical-align: top;

			.circrow {
				padding-top: .5em;
				padding-bottom: .18em;

				.outer {
					width: 12px;
					height: 12px;
					border-radius: 150px;
					margin-right: .25em;
					display: inline-block;
					border: 2px solid #777;
				}

				.inner {
					width: 8px;
					height: 8px;
					border-radius: 60px;
					background: #333;
					margin-top: .125em;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.clear {
		clear: both;
	}
}