// Place all the styles related to the because controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#page {
	width: 100%;

	h1 {
		margin:0;
		padding: 1em 0 1em 0;
		font-size: 2.5em;
		text-align: center;
		font-family: 'Cardo', serif;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}
}

#navigation {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size: 1em;
	position: absolute;
	top: 2em;
	left: 2em;

	a {
		text-decoration: none;
		color: #666;
		font-family: 'Source Sans Pro',sans-serif;
		font-weight: 300;
		font-size: 1em;
		margin-right: 2em;
	}
}


//////////ENGINEERING

.float_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #666;
	font-size: 1.75em;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#topbar {
	width: 100%;
	height: .8em;
	background: #cacaca;
	margin-left: -1em;
	padding-right: 1em;
	margin-top: -25px;
	box-shadow: 0px 5px 10px #000;
}

#botbar {
	width: 100%;
	height: .8em;
	background: #cacaca;
	margin-left: -1em;
	padding-right: 1em;
	margin-top: 16.5em;
	box-shadow: 0px -5px 10px #000;
}

#code_area {
	width: 100%;
	background: #212121;
	height: 17.5em;
}

.skills {
	width: 7em;
	float: right;
	padding-top: .75em;
	padding-right: 2em;
	font-size: 2em;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #fafafa;
	text-align: right;

	.border {
		padding-top: .25em;
		margin-bottom: .25em;
		border-bottom: 1px dotted #595959;
	}

}

#concept_row {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

	.photos {
		left: -500px;
		width: 300px;
		height: 250px;
		background: #cacaca;
		display: inline-block;
		vertical-align: top;

	}

	.physical_subtitle {
		padding-top: 2.5em;
		margin-left: 2em;
		color: #666;
		text-align: center;
		word-spacing: 11em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
	}

	.stretch {
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
	}
}




///////DESIGN

.d_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #666;
	width: 30%;
	font-size: 1.75em;
	padding: .5em 0 .5em 0;
	background: #ddd;
}

.d_left {
	float: left;
	text-align: right;
	padding-right: 2em;
}

.d_right {
	float: right;
	text-align: left;
	padding-left: 2em;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	width: 90%;
	border: 1px solid;

	.interface {
		width: 47%;
		height: 350px;
		float:left;
		background: #aaa;
	}

	.analytics {
		width: 47%;
		height: 350px;
		float: right;
		background: #aaa;
	}

	.product {
		width: 47%;
		height: 350px;
		float: left;
		margin-top: 2.5em;
		background: #ddd;
	}

	.scorecard {
		width: 47%;
		height: 350px;
		float: right;
		margin-top: 2.5em;
		color: #666;
		background: #ddd;

		.text {
			width: 15em;
			font-family: 'Source Sans Pro',sans-serif;
			font-weight:300;
			font-size: 1.15em;
			line-height: 1.75em;
			text-transform: uppercase;
			text-align: right;
			display: inline-block;
		}

		#dots {
			width: 15em;
			margin-left: .5em;
			display: inline-block;
			vertical-align: top;

			.circrow {
				width: 15em;
				padding-top: .5em;
				padding-bottom: .18em;

				.outer {
					width: 12px;
					height: 12px;
					border-radius: 150px;
					margin-right: .25em;
					display: inline-block;
					border: 2px solid #777;
				}

				.inner {
					width: 8px;
					height: 8px;
					border-radius: 60px;
					background: #333;
					margin-top: .125em;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.clear {
		clear:both;
	}
}




///////// BUSINESS


#biz_content {
	width: 90%;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;

	.title {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		color: #666;
		font-size: 1.85em;
		text-align: center;
		letter-spacing: 3px;
		padding-top: 1.5em;
		padding-bottom: 1.5em;	
		padding-left: 2em;
		padding-right: 2em;
	}

	.left {
		width: 40%;
		float: left;

		.relationships {

			.stars {
				text-align: center;
				width: 15em;
				margin-left: auto;
				margin-right: auto;
				font-size: 2em;
			}
			
			.heading {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1.25em;
				text-align: center;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #888;
			}
			
			.description {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 300;
				font-size: 1.1em;
				color: #666;
				width: 30em;
				padding-top: 3em;
				margin-left: auto;
				margin-right: auto;

				.intro {
					padding-bottom: .5em;
					font-weight: 400;
				}

				.center {
					text-align: center;
				}
			}
		}
	}

	.right {
		width: 40%;
		border: 1px solid;
		float: right;

		.client {
			width: 30em;
			border: 1px solid;
			margin-left:auto;
			margin-right:auto;

			.description {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 300;
				font-size: 1.1em;
				text-align: center;
				color: #666;
			}

			.aware {

			}
		}
	}
	
	.scorecard {
		width: 100%;
		height: 350px;
		float: right;
		margin-top: 2.5em;
		color: #666;
		background: #ddd;

		.text {
			width: 15em;
			font-family: 'Source Sans Pro',sans-serif;
			font-weight:300;
			font-size: 1.15em;
			line-height: 1.75em;
			text-transform: uppercase;
			text-align: right;
			display: inline-block;
		}

		#dots {
			width: 15em;
			margin-left: .5em;
			display: inline-block;
			vertical-align: top;

			.circrow {
				width: 15em;
				padding-top: .5em;
				padding-bottom: .18em;

				.outer {
					width: 12px;
					height: 12px;
					border-radius: 150px;
					margin-right: .25em;
					display: inline-block;
					border: 2px solid #777;
				}

				.inner {
					width: 8px;
					height: 8px;
					border-radius: 60px;
					background: #333;
					margin-top: .125em;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.clear {
		clear: both;
	}
}