// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (min-width: 1201px) {
	#resume {
		width: 60%;

		#target, #reads, #work, #education {
			width: 85%;
			float: right;
		}
	}
}

@media (min-width: 993px) and (max-width: 1200px) {

	#resume {
		width: 720px;
		padding-bottom: 80px;
	
		#target, #reads, #work, #education {
			width: 85%;
			float: right;
		}

		.bottom {

			#awards {
				width: 85%;
				margin-bottom: 4em;
			}

			#resume_skills {
				width: 85%;
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 992px) {
	
	#resume {
		width: 600px;
		padding-bottom: 80px;
		
		#target, #reads, #work, #education {
			width: 80%;
			float: right;
		}

		h1 .date {
			font-size: .85em;
			display: block;
			float: none !important;
		}	

		.bottom {

			#awards {
				width: 80%;
				margin-bottom: 4em;
			}

			#resume_skills {
				width: 80%;
				margin-right: 0;
			}
		}
	}
}

#resume {
	padding: 150px 0 5em 0;
	margin-left: auto;
	margin-right: auto;

	.dl_link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.1em;
		font-weight: bold;
		color: #bbb;
		position: absolute;
		padding-top: 30px;
		top: 225px;
		left: 35px;
		z-index: 10;
	}

	.dl_arrow {
		top: 205px;
		left: 80px;
		position: absolute;
		opacity: .1;
		background-size: 100%;
		-webkit-transition: all .15s;
        -moz-transition: all .15s;
        -ms-transition: all .15s;
        -o-transition: all .15s;
        transition: all .15s;

        img {
        	height: 50px;
        }
	}

	a:hover + .dl_arrow {
		top:210px;
		opacity: 1;
	}

	#header {
		width: 100%;
		margin-bottom: 3em;
		border-bottom: 4px solid #c12c13;

		#logo {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;

			.circle {
				background: transparent;
				border: 6px solid #c12c13;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				display: inline-block;
				z-index: -1;
				position: relative;
				top: 3px;
			}

			h1 {
				display: inline-block;
				padding-left: 50px;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 3.25em;
				font-weight: normal;
				color: #222;
				margin: 0;
			}

			ul {
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				margin: 30px 0 20px 0;
				padding: 0;
				font-family: 'Source Sans Pro', sans-serif;
				color: #ccc;

				li {
					color: #aaa;
					display: inline-block;
					margin-right: 15px;
					margin-left: 15px;

					a {
						text-decoration: none;
						color: #aaa;
					}
				}
			}
		}
	}

	.icon {
		background: #cacaca;
		margin-top: 5px;
		margin-bottom: 4em;
		opacity: .3;
		position: relative;
	}

	.reads {
		background: url('/assets/Resume_book_icon_small.png');
		width: 80px;
		height: 31px;

	}

	.target {
		width: 80px;
		height: 80px;
		background: url('/assets/Resume_target_icon_small.png');

	}

	.work {
		background: url('/assets/Resume_activities_icon_small.png');
		width: 80px;
		height: 80px;
	}

	.education {
		background: url('/assets/Resume_graduation_icon_small.png');
		width: 80px;
		height: 44px;
	}

	.resume_skills {
		background: url('/assets/Resume_hammer_icon_small.png');
		width: 80px;
		height: 80px;
		margin-right: 8%;
	}

	.awards {
		background: url('/assets/Resume_star_icon_small.png');
		width: 80px;
		height: 76px;
		margin-right: 8%;

	}

	#target, #reads, #work, #education {
		margin-bottom: 4em;

		h1 {
			color: #c12c13;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.15em;
			font-weight: 600;
			margin: 0 0 .5em 0;

			.date {
				float: right;
			}
		}

		p {
			margin: 0 0 3em 0;
			color: #222;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1em;
			line-height: 1.5em;
			font-weight: 300;
		}
	}

	#resume_skills {
		float:right;
		width: 40%;
		margin-right: 5%;
		vertical-align: top;
	}

	#awards {
		float: right;
		width: 40%;
		vertical-align: top;
	}

	.bottom {
		width: 100%;
		text-align: justify;
		-ms-text-justify: distribute-all-lines;
    	text-justify: distribute-all-lines;

    	h1 {
    		color: #c12c13;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.25em;
			font-weight: 700;
			margin: 0 0 .5em 0;
		}

		ul {
			vertical-align: top;
			display: inline-block;
			list-style-type: none;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			color: #222;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: .9em;
			line-height: 1.6em;
			font-weight: 300;
			text-align: left;
		}
	}

	.stretch {
		width: 100%;
		display: inline-block;
	}

}