// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#triangle {
	width: 100%;
	height: 100%;

	h1 {
		margin:0;
		padding: 2em;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #666;
	}

	#graphic {
		margin-right: auto;
		margin-left: auto;
		border: 1px solid #cacaca;

		#tritop {
			margin-left: auto;
			margin-right: auto;
			width: 327px;
			height: 377px;
			background: url('/assets/tri_top.png');
		}

		.top {
			width: 327px;
			margin-left: auto;
			margin-right: auto;
		}

		.bottom {
			margin-top: -94px;
			width: 698px;
			margin-left: auto;
			margin-right: auto;
		}
		#trileft {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			width: 349px;
			height: 305px;
			background: url('/assets/tri_left.png');
		}

		#triright {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			width: 338px;
			height: 305px;
			background: url('/assets/tri_right.png');
		}

		.top_hover {
			opacity: 0;
			width: 327px;
			height: 377px;
		}

		.top_hover:hover {
			opacity: 1;
		}

		.left_hover {
			opacity: 0;
			width: 349px;
			height: 305px;
		}

		.left_hover:hover {
			opacity: 1;
		}


		.right_hover {
			opacity: 0;
			width: 338px;
			height: 305px;
		}

		.right_hover:hover {
			opacity: 1;
		}		
	}

	.links {
		text-align: center;
		padding-top: 5em;
		color: #888;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 1.5em;

		a {
			text-decoration: none;
			color: #888;
		}

		.divider {
			padding-left: 5em;
			padding-right: 5em;
		}
	}
}

#bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 56%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%,#fafafa), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 56%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 56%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 56%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 56%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}