// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.polyid {
	color: #C800F5;
	background: #C800F5;
	border: 2px solid #C800F5;
}

#triangle {
	width: 100%;
	height: 100%;

	h1 {
		margin:0;
		padding: 2em;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #666;
	}

	#graphic {
		position: absolute;
		width: 700px;
		height: 600px;
		margin-right: 50%;
		right: -350px;

		.triangle {
			margin-left: auto;
			margin-right: auto;
			width: 700px;
			height: 700px;
			z-index: 2;
		}

		.tophover {
			border: none;
			opacity: 1;
			background: #000;
			color: #000;
		}
		.tophover:hover {
			opacity: 0;
			border: 3px solid #c12c13;
			color: #fff;
			background: #c12c13;
		}
	}

	.links {
		text-align: center;
		padding-top: 5em;
		color: #888;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 1.5em;

		a {
			text-decoration: none;
			color: #888;
		}

		.divider {
			padding-left: 5em;
			padding-right: 5em;
		}
	}
}

#bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -2;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 44%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#fafafa), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 44%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 44%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 44%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 44%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
}

#starburst {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: url('/assets/starburst.png') no-repeat;
	background-position: center;
	background-size: cover;
	opacity: .75;
}